<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connString" connectionString="Server=.;Database=_test_;Timeout=180;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="EventLog" value="Scraper"/>
    <add key="CheckBoxId" value="ctl00_cphContentMain_GenericWebUserControl_ShowAllCheckBox" />
    <add key="DataTableId" value="ctl00_cphContentMain_GenericWebUserControl_gridview1" />
    <add key="FormInitialWidth" value="1073" />
    <add key="FormInitialHeight" value="659" />
    <add key="RecipientsTemplate" value="vitaly.chupaev@arcadia.spb.ru" />
    <add key="SubjectFormat" value="Sirt page report [{0}]" />
    <add key="SqlServerMailProfile" value="LocalSQLServerMail" />
    <add key="Url" value="http://sirt.cftc.gov/sirt/sirt.aspx?Topic=ForeignOrganizationProducts" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>