body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:230px;
  width:1000px;
  height:12272px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:12272px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:110px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:110px;
}
#u4 {
  position:absolute;
  left:2px;
  top:47px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:20px;
  width:230px;
  height:63px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:63px;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:110px;
  width:100px;
  height:35px;
  font-family:'Ubuntu Bold', 'Ubuntu';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:110px;
  width:128px;
  height:35px;
  font-family:'Ubuntu Bold', 'Ubuntu';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u10 {
  position:absolute;
  left:4px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:228px;
  top:110px;
  width:122px;
  height:35px;
  font-family:'Ubuntu Bold', 'Ubuntu';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:35px;
}
#u12 {
  position:absolute;
  left:4px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:350px;
  top:110px;
  width:113px;
  height:35px;
  font-family:'Ubuntu Bold', 'Ubuntu';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u14 {
  position:absolute;
  left:4px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:582px;
  top:110px;
  width:117px;
  height:35px;
  font-family:'Ubuntu Bold', 'Ubuntu';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:698px;
  top:110px;
  width:740px;
  height:35px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:35px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:-2px;
  top:-6px;
  width:1252px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:1235px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1252px;
  height:1px;
}
#u20 {
  position:absolute;
  left:576px;
  top:110px;
  width:10px;
  height:35px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u21 {
  position:absolute;
  left:345px;
  top:110px;
  width:10px;
  height:35px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u22 {
  position:absolute;
  left:222px;
  top:110px;
  width:10px;
  height:35px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u23 {
  position:absolute;
  left:95px;
  top:110px;
  width:10px;
  height:35px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u24 {
  position:absolute;
  left:73px;
  top:120px;
  width:16px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:199px;
  top:122px;
  width:16px;
  height:12px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:322px;
  top:122px;
  width:16px;
  height:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:552px;
  top:122px;
  width:16px;
  height:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:669px;
  top:122px;
  width:16px;
  height:12px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:228px;
  top:145px;
  visibility:hidden;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:90px;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:188px;
  height:96px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:95px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:15px;
  top:7px;
  width:165px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:30px;
  width:182px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:15px;
  top:7px;
  width:165px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:60px;
  width:182px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:15px;
  top:7px;
  width:165px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:582px;
  top:145px;
  width:182px;
  height:135px;
  overflow:hidden;
  visibility:hidden;
}
#u43_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:135px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:120px;
}
#u44_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:183px;
  height:126px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:125px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u46_img.mouseOver {
}
#u46.mouseOver {
}
#u47 {
  position:absolute;
  left:15px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:30px;
  width:177px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u49 {
  position:absolute;
  left:15px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:60px;
  width:177px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:15px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:90px;
  width:177px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u52_img.mouseOver {
}
#u52.mouseOver {
}
#u53 {
  position:absolute;
  left:15px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:463px;
  top:110px;
  width:119px;
  height:35px;
  font-family:'Ubuntu Bold', 'Ubuntu';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u55 {
  position:absolute;
  left:14px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:435px;
  top:122px;
  width:16px;
  height:12px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:576px;
  top:110px;
  width:10px;
  height:35px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u59 {
  position:absolute;
  left:693px;
  top:110px;
  width:10px;
  height:35px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u60 {
  position:absolute;
  left:459px;
  top:110px;
  width:10px;
  height:35px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u61 {
  position:absolute;
  left:554px;
  top:122px;
  width:16px;
  height:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:66px;
  top:184px;
  width:40px;
  height:26px;
  color:#C56CB5;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u65 {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:121px;
  top:184px;
  width:126px;
  height:26px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u67 {
  position:absolute;
  left:0px;
  top:5px;
  width:126px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:110px;
  top:190px;
  width:5px;
  height:16px;
  color:#CCCCCC;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:0px;
  top:12540px;
  width:1260px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:1243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1260px;
  height:2px;
}
#u73 {
  position:absolute;
  left:0px;
  top:12546px;
  width:1260px;
  height:65px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:65px;
}
#u74 {
  position:absolute;
  left:2px;
  top:24px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:50px;
  top:12546px;
  width:55px;
  height:40px;
  font-size:12px;
  color:#6B6B6B;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:112px;
  top:12546px;
  width:100px;
  height:40px;
  font-size:12px;
  color:#6B6B6B;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:327px;
  top:12556px;
  width:60px;
  height:19px;
  font-size:12px;
  color:#6B6B6B;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:457px;
  top:12546px;
  width:73px;
  height:40px;
  font-size:12px;
  color:#6B6B6B;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:12611px;
  width:1260px;
  height:45px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:45px;
}
#u84 {
  position:absolute;
  left:2px;
  top:14px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:211px;
  top:12546px;
  width:117px;
  height:40px;
  font-size:12px;
  color:#6B6B6B;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:390px;
  top:12556px;
  width:60px;
  height:19px;
  font-size:12px;
  color:#6B6B6B;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
