<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="applicationId" value="19" />
    <add key="resourceName" value="ABCDTRNS" />
    <add key="arcadiaApplicationId" value="19" />
    <add key="arcadiaResourceName" value="ABCDTest" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LogInfo" value="0" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Jnj.ThirdDimension.Service.BarcodeSeries.BslsService" behaviorConfiguration="MetadataSupport">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/BslsService" />
            <add baseAddress="net.tcp://localhost:8091/BslsService" />
            <add baseAddress="net.pipe://localhost/" />
          </baseAddresses>
        </host>
        <endpoint binding="wsDualHttpBinding" contract="Jnj.ThirdDimension.Service.BarcodeSeries.IBslsService" />
        <endpoint binding="netTcpBinding" contract="Jnj.ThirdDimension.Service.BarcodeSeries.IBslsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataSupport">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>