@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="shortcut icon" href="/images/favicon.ico" />

    	<title>@CurrentPage.Name | @CurrentPage._siteTitle</title>

		<link href="/css/editor_styles.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    @RenderBody()
	</body>
</html>