<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="checkIP" value="false" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <!-- Authentication configuration -->
    <!-- change of salt size won't broke existed passwords -->
    <add key="saltLength" value="32" />
    <add key="hashedPwdLength" value="32" />
    <add key="iterationsNum" value="10000" />
    <add key="connectionStringCipherKey" value="VN6J87*LfzcR*CBmzvF4K6zg|-w2R+l|%YC|B5fR^ARCvV9n8T7IVEk3Tiqz" />
    <add key="symbologyIframeReferrer" value="/umbraco"/>
    <add key="owin:appStartup" value="UmbracoDefaultOwinStartup" />
    <add key="cacheExpirationTime" value="120" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="UsersDb.Authentication.CustomRoleProvider, UsersDb" connectionStringName="UsersEntities" />
      </providers>
    </roleManager>
    <customErrors defaultRedirect="Error.aspx" />
    <sessionState timeout="15" />
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="4320" slidingExpiration="true" />
    </authentication>
    <pages>
      <controls>
        <add assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagPrefix="telerik"/>
      </controls>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
  </system.web>
  <connectionStrings>
    <add name="UsersConnectionString" connectionString="data source=.;Initial Catalog=Users;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="UsersEntities" connectionString="metadata=res://*/DataContext.UsersModel.csdl|res://*/DataContext.UsersModel.ssdl|res://*/DataContext.UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Users;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TRADEdataUsers" connectionString="data source=.;initial catalog=TRADEdataUsers;integrated security=True;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="UsersConnectionString" applicationName="AdministrativeUI" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="SharedLibrary.Elmah.ErrorLogPageFactoryMultiApp, SharedLibrary, Version=1.0.0.0, Culture=neutral" />
      </httpHandlers>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="SharedLibrary.Elmah.ErrorLogPageFactoryMultiApp, SharedLibrary, Version=1.0.0.0, Culture=neutral" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>