SpansUI/obj/
SpansUI/bin/
SpansLib/obj/
SpansLib/bin/
SpansUI/packages/
DB/*.csv
SpansTests/bin/
SpansTests/obj/
SpansUI/TestResults/
QuartzServer/Bin/Jobs

QuartzServer/Bin/Jobs/
QuartzServer/Bin/quartz_jobs.xml
QuartzServer/Bin/quartz.config
QuartzServer/Bin/Quartz.Server.exe.config
Sources/Transformed/
QuartzServer/Bin/Logs/
Sources/*.xml
SpansTests/~App.config
