use pubwiz


/*********************************************************

	622. ManagingIP - Free Content Email Weekly

*********************************************************/

/*
	Section 7147 - Blog First Article
*/
update tbsectionformat
set sectionformat = '<tr>
    <td align="left" colspan="8">[Article_Begin_URL]
        <span
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif; text-decoration:none;">[Article_Title]</span>[Article_End_URL]
    </td>
</tr>
<tr>
    <td style="BACKGROUND: #ddd" align="left" width="466" colspan="8" height="1"></td>
</tr>
<tr>
    <td align="left" colspan="8" height="10"></td>
</tr>
<tr>
    <td style="FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, ArialMT, sans-serif" align="left" colspan="8">
        [Article_Description]</td>
</tr>'
where sectionid = 7147

/*
	Section 7148 - Blog articles
*/
update tbsectionformat
set sectionformat = '<TR align=left>
    <TD style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif" colSpan=3>
        [Article_Begin_URL]<span
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif; text-decoration:none;"
            align="left">[Article_Title]</span>[Article_End_URL]
    </TD>
</TR>
<TR>
    <TD style="BACKGROUND: #ddd" colSpan=6 height=1></TD>
</TR>
<TR>
    <TD colSpan=2 height=10></TD>
</TR>
<TR>
    <TD style="FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, ArialMT, sans-serif" align=left colSpan=6>
        [Article_Description]</TD>
</TR>
<TR>
    <TD colSpan=3 height=20></TD>
</TR>'
where sectionid = 7148


/* 
	Section 7151 - First Article
*/
update tbsectionformat
set sectionformat = '<tr>
    <td align="left" colspan="8">[Article_Begin_URL]<span
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif; text-decoration:none;">[Article_Title]</span>[Article_End_URL]
    </td>
</tr>
<tr>
    <td style="BACKGROUND: #ddd" align="left" width="466" colspan="8" height="1"></td>
</tr>
<tr>
    <td align="left" colspan="8" height="10"></td>
</tr>
<tr>
    <td style="FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, ArialMT, sans-serif" align="left" colspan="8">
        [Article_Description]</td>
</tr>'
where sectionid = 7151


/*
	Section 7152 - Latest Cases
*/
update tbsectionformat
set sectionformat = '<TR align=left>
    <TD style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif" colSpan=3>
        [Article_Begin_URL]<span
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif; text-decoration:none;"
            align="left">[Article_Title]</span>[Article_End_URL]
    </TD>
</TR>
<TR>
    <TD style="BACKGROUND: #ddd" colSpan=6 height=1></TD>
</TR>
<TR>
    <TD colSpan=2 height=10></TD>
</TR>
<TR>
    <TD style="FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, ArialMT, sans-serif" align=left colSpan=6>
        [Article_Description]</TD>
</TR>
<TR>
    <TD colSpan=3 height=20></TD>
</TR>'
where sectionid = 7152


/*********************************************************

	695. ManagingIP - Free Content Email Weekly USA

*********************************************************/

/*
	Section 7135 - Blog First Article
*/
update tbsectionformat
set sectionformat = '<tr>
    <td align="left" colspan="8">[Article_Begin_URL]
        <span
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif; text-decoration:none;">[Article_Title]</span>[Article_End_URL]
    </td>
</tr>
<tr>
    <td style="BACKGROUND: #ddd" align="left" width="466" colspan="8" height="1"></td>
</tr>
<tr>
    <td align="left" colspan="8" height="10"></td>
</tr>
<tr>
    <td style="FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, ArialMT, sans-serif" align="left" colspan="8">
        [Article_Description]</td>
</tr>'
where sectionid = 7135


/*
	Section 7136 - Blog Articles
*/
update tbsectionformat
set sectionformat = '<TR align=left>
    <TD style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif" colSpan=3>
        [Article_Begin_URL]<span
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif; text-decoration:none;"
            align="left">[Article_Title]</span>[Article_End_URL]
    </TD>
</TR>
<TR>
    <TD style="BACKGROUND: #ddd" colSpan=6 height=1></TD>
</TR>
<TR>
    <TD colSpan=2 height=10></TD>
</TR>
<TR>
    <TD style="FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, ArialMT, sans-serif" align=left colSpan=6>
        [Article_Description]</TD>
</TR>
<TR>
    <TD colSpan=3 height=20></TD>
</TR>'
where sectionid = 7136



/*
	Section 7138 - First article
*/
update tbsectionformat
set sectionformat = '<tr>
    <td align="left" colspan="8">[Article_Begin_URL]
        <span
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif; text-decoration:none;">[Article_Title]</span>[Article_End_URL]
    </td>
</tr>
<tr>
    <td style="BACKGROUND: #ddd" align="left" width="466" colspan="8" height="1"></td>
</tr>
<tr>
    <td align="left" colspan="8" height="10"></td>
</tr>
<tr>
    <td style="FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, ArialMT, sans-serif" align="left" colspan="8">
        [Article_Description]</td>
</tr>'
where sectionid = 7138



/*
	Section 7139 - Latest Cases
*/
update tbsectionformat
set sectionformat = '<TR align=left>
    <TD style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif" colSpan=3>
        [Article_Begin_URL]<span
            style="FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #555555; FONT-FAMILY: Arial, ArialMT, sans-serif; text-decoration:none;"
            align="left">[Article_Title]</span>[Article_End_URL]
    </TD>
</TR>
<TR>
    <TD style="BACKGROUND: #ddd" colSpan=6 height=1></TD>
</TR>
<TR>
    <TD colSpan=2 height=10></TD>
</TR>
<TR>
    <TD style="FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, ArialMT, sans-serif" align=left colSpan=6>
        [Article_Description]</TD>
</TR>
<TR>
    <TD colSpan=3 height=20></TD>
</TR>'
where sectionid = 7139


