use [NewCentralUsers]

/*
	back up newsletters
*/
drop table if exists [NewCentralUsers].[dbo].[Newsletters_Backup]

select *
into [NewCentralUsers].[dbo].[Newsletters_Backup]
from [NewCentralUsers].[dbo].[Newsletters] N
join [NewCentralUsers].[dbo].[Publications] P
on N.nPublication = P.pID
join [NewCentralUsers].[dbo].[UserDetails] UD
on N.nUID = UD.uid
where p.pCMSSiteID = 1
and UD.uUserName IN 
(
	'tom_deas@fmc.com','john.carvelli@dnb.no','dhughes@dbrs.com','mlaufik@sunrisecapital.com','rortizdem@sucasita.com.mx','matthias.wahlen@olb.de','steve.garnett@lcbo.com','max.lin@liteonit.com','eencinas@financiero.com.pe','chho@isfpk.com.my','dennis.lowe@macquarie.com','peter.roger.karlsson@volvo.com','fkong@svb.com','mpldog19@yahoo.co.uk','chris.gibson@tdsecurities.com','apanasko@mfglobal.com.sg','agut@gutcf.ch','pedro.huerta@hsbc.com.mx','tatsuya.mori@nestle.com','james.tomlinson@db.com','zia@grameenphone.com','alghamdih@alrajhibank.com.sa','natkanok.s@hmcpolymers.com','mike.coghlan@rbnz.govt.nz','kim@gregoryfca.com','pathomporn.pho@bbl.co.th','supattra_trakankit@apl.com','kanishka.dasgupta@wipro.com','michelle.ballington@barings.com','samer.totah@arabbank.ae','renta_marsinta_sihombing@id.mufg.jp','banji@mukuba.com.zm','patrick.phalon@mizuhocbus.com','matt.spicer@anz.com','jennifer.lehrer@credit-suisse.com','gregg.lynch@uk.butterfieldgroup.com','vincent.craignou@hsbcgroup.com','bret.blanton@bmo.com','elopezm@idesa.com.mx','bgriffiths@citco.com','dostalm@generalippf.eu','ben.ware@macquarie.com','paulclarke1_2000@yahoo.com','aditya.borkar@db.com','jason.milne@td.com','constance.chu@citi.com','ted.holloway@lloydsbanking.com','gyanesh.maheshwar@barcap.com','john.swift@sage.com','chentianni@cmbchina.com','anamika.lambate@coalition.com','f.dalsecco@iwbank.it','desmond.lee@morganstanley.com','vidurane81@yahoo.co.in','rajat_gurnani@infosys.com','cenk.esener@db.com','tom.ride@bridgemaninternational.com','philip.kopman@santandergbm.com','sudhipongse@bblam.co.th','bernard.pick@gdfsuez.com','jmdelacruz@psbank.com.ph','brett.melville@orica.com','daniel@kapstream.com','lmartins@bulltick.com','yugo.iseya@nomura.com','dave.patterson@rotork.com','n-nakamura@fxprime.com','prunacres@viridor.co.uk','egeneis@mapfre.com.co','jrivas@essilor.com.mx','klarien.mooijaart@ing.com','jreyes@cuervo.com.mx','smendez@aforexxi.com.mx','arana@liberty.com.pk','alastair.wait@db.com','lisa_villeneuve@manulife.com','jessica.guignard@bcv.ch','shteh@acer.com.my','jefferson@bradescosalzburg.at','brian.redmond@rbs.com','alsuhaibanis@alrajhi-capital.com','mike.thrower@wallstreetsystems.com','nnadesar@yahoo.co.uk','irem.yuce@iziletisim.com','khuongtung@sdfc.com.vn','luke.kolter@dealhub.com','khadkevishal@rediffmail.com','ching-yin@ctci.com.tw','hans-joachim.gretscher@dzbank.de','ivo.mertens@bnpparibasfortis.com','sushil.upadhyay@anz.com','nattanan.kr@smebank.co.th','ewa.drozdowska@ingrealestate.com','abhishek.raval@indusind.com','karen.samuel@dealhub.com','amarietta@venipartners.com','trinh.proctor@yahoo.com.au','alastair.crane@seb.co.uk','nadia.yoshiyama@baml.com','sandals@hotmail.com','uveymasal@yahoo.com','hsudhakar@wallstreet.ae','garima.jaithliya@jpmchase.com','lenka.polackova@ms.com','fnaseem@huawei.com','venkata.ramanaram@lifestylestores.com','derek.man@millenniumhotels.com.hk','ahadimg@yahoo.com','roderick_quin@yahoo.com','jack.thorburn@barcap.com','elise.nzie@damco.com','mauricio@rendimento.com.br','lily.yang@moen-mgfc.com','d.gounopoulos@surrey.ac.uk','jermaine.harmon@alpari-us.com','lanagsejati78@yahoo.co.id','iansiahjunren@yahoo.com','jenny.rochcom@yahoo.com','joesamuelson123@yahoo.co.uk','ben.colombo@teneostrategy.com','santiago.souto@socgen.com','paulsmith@aol.com','jesseana32@yahoo.com','sagitt@abv.bg','ld@dhp.al','dominic.leone@genworth.com','tracy.kantrowitz@reval.com','fmcgruer@euromoney.com','rsimon@accamail.com','omaguire@yahoo.com','kalyanaraman@gimpex.co.in','kaledarich@mail.ru','hu_df@bankcomm.com','rebecca.culleton@sc.com','rpatil@gscorporation.com','scott.davis@monacor.co.uk','jonathon.jackson@uk.daiwacm.com','timber-kazan@rambler.ru','mmoll@pb-santander.com','emiliomartinez@amalgamatedbank.com','dianto.wiranata@juliusbaer.com','anastasia.knowles@rbc.com','mikael.lofberg@db.com','hmtarjoto@yahoo.com','mariechristine.therin@dexia.com','ezio.mazzalupi@juliusbaer.com','delconsuelo.sanchez@hsbc.com.mx','suhail22884@yahoo.com','kiarash963@yahoo.com','rodrigo.guzman@beiersdorf.com','oadejuyigbe@accamail.com','james.wartho@macquarie.com','naikaj0509@rediffmail.com','emma.turton@burtonmail.co.uk','fpicouays@attijariwafa.net','john.griffith@alcentra.com','sganapathy@mppartners.com','dilshan.dodanwela@dfccbank.com','miroslaw.pilat@edf.pl','e.drozdowska@auchan.pl','sami.lahoud@yahoo.com','abdulrahman.al-suwailem@samba.com','thomas.schaber@llb.li','michael.ward@bsibank.com','jerome.maeder@swissquote.ch','racovita@micb.md','vvomacka@lear.com','yangjw@cn.ibm.com','bantwalad@svcbank.com','maurits.van.der.vegt@koopmanint.com','billyreinhart@yahoo.com','jsims@wiley.com','finance@cumarex.ma','framos@emmsa.com.mx','premin_arnold@yahoo.com','stuart.dixon@carbon-capital.com','mhayes@rdc.com','simon.h@alpharooms.com','hakan.berbercuma@tekstilbank.com.tr','hyun91.lee@samsung.com','freakyn9guy@yahoo.com','andrzejk.krzeminski@ge.com','peter@merkinvestments.com','al-hijji@qvc.com.qa','gary.fulton@omnisfx.co.uk','jesse@sfeu.nl','kinkeonglow@yahoo.com','sachin.tendulkar@dhanbank.co.in','ben_g_e_poole@yahoo.co.uk','nhienlehong@yahoo.com','hualonvnacc@hcm.vnn.vn','vishal.rao@rbs.com','alpesh@tskzn.co.za','stewart.morton@anz.com','jane.tiftis@aberdeen-asset.com','dorismk.lai@bocigroup.com','germain.lorang@clearstream.com','jdekock@keyhedge.com','ewa.senti@lgt.com','susumu.osawa@nomura.com','jenifer.llanos@bb.com.br','gustavo.silva@btgpactual.com','cheng_duan_pang@manulifeam.com','aktive_4@yahoo.com','atsuo.ogaki@nomura.com','rasp416@sbcglobal.net','lucia.nwanze@ng.pwc.com','patricia.kimwanga@socgen.com','mbi4ever@yahoo.com','krazywill2002@yahoo.com','jonathan.smith@nomura.com','sowmya.sriram@pharmarc.com','dvalcheva@nyx.com','frank.turley@landg.com','doug.neill@investit.com','maadhamdi@yahoo.com','punit.dholakia@barcap.com','rodolphe.ranouil@hsbcgroup.com','shirai.sadakazu@ns-sol.co.jp','carla.martins@btgpactual.com','joyce.tan@gentinghk.com','lrobinson@broadgatemainland.com','veda@zubairautomotive.com','giwa.yusuf@clicktgi.net','ltthao@sg.hanjin.com','corina.uratu@rcibanque.com','scott.kilbourn@citi.com','janice@janicehollar.com','henri.demontserrat@natixis.com','seyhock.lim@my.geodiswilson.com','yong.huchai@icbci.com.hk','chantha.sok@hqgtrading.com','alessio.pieri@ondrapartners.com','jflynn@wmmcbride.com','osmondgreg@yahoo.com','daniel.workman@harbourgrp.com','duygu.baydur@citi.com','wenjing.hong@bsibank.com','davron.akhmedov@ansherglobal.com','cobyskov@yahoo.com','juliofeng@yahoo.com','er@mdngroup.org','jpsayshi2u@yahoo.co.uk','ali_jan_19@yahoo.com','tengcheok.tay@lasalle.com','varun.tejavath@cba.com.au','pappariellone@yahoo.com','anna-louise.oliver@ropesgray.com','smith@ridgeway55.wanadoo.co.uk','isha_lamba@infosys.com','edward.ohare@rbs.com','ana.lopes@grupomaquina.com','gunjan.khanna@axisbank.com','iankovskai@vtb.fr','ronak.gopaldas@rmb.co.za','saheb.puri@gmx.com','jeik.sohn@mandg.com','dana.hamawi@arabbank.com.jo','gereltod@golomtbank.com','pritesh.solanki@halbis.com','valerie.ernoult@fr.pwc.com','andrew.nunn@kpmg.co.uk','anshul.bansal@jpmorgan.com','schennikovaann89@rambler.ru','sandra.arce@mssb.com','jeansun.kim@seedone.co.kr','msantana@aldesa.com','mark.chesterman@iggroup.com','kevin_kuo@acer.com','conor.geoghegan@au.bnpparibas.com','benjamin@sg.ibm.com','retno.kusuma@boehringer-ingelheim.com','shradha_agarwal@raychemrpg.com','tanuj.datta@mahabank.co.in','dkkinuthia@cba.co.ke','rachel.ren@icbci.com.hk','sunee.asavasirisakulchai@chq.alstom.com','raymond.cheng@ebscn.hk','uldis.buss@dnb.lv','andy.ridge@ocado.com','abdullah.al-shawimi@samba.com','d.mockevicius@ub.lt','urmi.shah@hemlines.com','ivan.glavak@hypo.hr','dlowe@fxcm.com','mirjana.jovic@victoriagroup.rs','john.muli@abcthebank.com','adam.sliwka@accredi.cz','william.kemp@raphael.co.uk','markus.schmidt@sc.com','renata.vertemate@jci.com','jgilbert@intercommercialtt.com','d_wang@bankcomm.com','hanyuchen342@sdb.com.cn','juyeon.sung@roche.com','p_yi@bankcomm.com','zulkiflee@asianfinancebank.com','forex@kpsanghvi.com','penny.stamou@proprius.gr','young.mo@energy.com.ph','pasquale.stricagnolo@genworth.com','adenizkaya@lear.com','asukwo.akpayung@tdwcs.co.uk','e.vrgoc@hahnair.com','bbiedrzycka@fnagro.pl','maureenmoore@avaya.com','lukas.niall@craigsip.com','garcitos.cindy@external.total.com','jmmuchemi@kws.go.ke','janaiine_siau@sttelemedia.com','william.leung@hk.fujitsu.com','rego@sktllc.net','evan.brown@morganstanley.com','jaehyung.choi.a@dwsec.com','tamon.wongwongvised@mizuho-cb.com','gpetrogiannis@eurobank.gr','rahul.mani@nomura.com','mark.goodwin@clough.com.au','anuchin@transcapital.com','milan@airindiadubai.ae','skudryashov@detmir.ru','gladson.paiva@suzlon.com','tony.wang@seb.se','therese_suk_yee_yeow@my.mufg.jp','tramirez@promecap.com.mx','graeme.colloff@velocitytrade.co.nz','simon.twiss@arnhem.com.au','hiromi.fujioka@3ds.com','kennyho@kenanga.com.my','vikram.kumar@gitanjaligroup.com','gunes.oner@yapikredi.com.tr','sermin.mutlu@kordsaglobal.com','luc.staes12@telenet.be','anthony.riley@csl-furniture.co.uk','joelam@selinc.com','simonh@alpharooms.com','emma.shimmin@axa-iom.co.im','grissel.brun@bmw.com.mx','sergio.de_parasis@sandoz.com','dmartinezr@bcp.com.pe','perintpl@yahoo.com.hk','connie.sze@cre.com.hk','kedarsa@cybage.com','mgrainger@easons.com','ronald.s.rothenberg@mssb.com','joseph.m.brown@mssb.com','joseph.t.romano@mssb.com','theodore.demetriou@mssb.com','neide.santos@henkel.com','jualfaro@coca-cola.com','angela.chen@maersk.com','saurabh.mundhara@arthveda.co.in','hesham.elnahas@yahoo.com','eoin.edwards@gruppoesperia.com','rosachan@fullchampion.com.hk','wangyin1986@cmbchina.com','junn.hernandez@pepsico.com','ejoh@wooriwm.com','corin.comsulea@admfarm.ro','alexey.shevelev@unicreditgroup.ru','gustavo.silva@ventorinvestimentos.com.br','fgzavaleta@adecoagro.com','martin.tsang@bocigroup.com','michaelr@subaru.co.za','jennifer.tomaloff@diversey.com','eduardo.endo@ericsson.com','ryataco@coga.ocm.pe','fpadro@sjasset.com','merlyn@sg.hanjin.com','anke.vonderrecke@unicredit.eu','goodmassage@fastmail.fm','sharon.li@icbci.com.hk','ilin@investa.com.au','jadene.chua@skf.com','kelvin.low@1mdb.com.my','jaehwan.lim@meritz.co.kr','ee-hong.teoh@power.alstom.com','ataneja@coca-cola.com','gioconda.pizarro@sandvik.com','kenny.chow@efgbank.com','erdenebulgan.ochirbat@pedersenandpartners.com','mihail_turlakov@westlb.co.uk','jleslie@faceycommodity.com','lcorrigan@lear.com','conath@ath.forthnet.gr','simon.man@boci-pru.com.hk','pharvey@namoicotton.com.au','mhalweendo@accamail.com','iris.wang@yinglisolar.com','yelda.atilla@ddm.com.tr','chinnappa.d.biddanda@logica.com','deniz.erdogan@ncr.com','filiz.semerci@kuveytturk.com.tr','alexander.prognimak@sgcmpartners.com','mikolaj.nalej@emf-group.eu','marcela.ivani@ge.com','asli.kumru@ykyatirim.com.tr','harishashetty@te.com','murad.okay@mey.com.tr','nico.haasnoot@ing.nl','laura.villa@diasorin.it','michael.mcgrath@gardnerdenver.com','helio@rendimento.com.br','stpeterson@coca-cola.com','luis.davilasanchez@banamex.com','amgarcia@vinmar.com','pradeep.dubey@outokumpu.com','natchanan.chaiariyachanon@novartis.com','wei.luan@zf.com','ketan.acharya@geagroup.com','npaganella@agrale.com.br','natasha_doerksen@cameco.com','dennis.schweiger@kohler.com','jchandler@carlisle.com','mmjagong@scj.com','joselito.dy@coca-cola.com.ph','akonushbaev@nbkr.kg','hongdl.hso@acb.com.vn','grzegorz.wedrychowicz@libertydirect.pl','antonio.regazzoni@socgen.com','eduardo.naum@cabotcorp.com','dai002@knights.gannon.edu','sam.he@qrnational.com.au','hoang.tran-phuoc@metro.com.vn','fungsls@hkbea.com','bridgeway@balestracapital.com','hkennedy@cdoassociates.com','sue.suying@huawei.com','puji@kutilangpm.co.id','dinhhieu1111@yahoo.com','g.czesna.vkg@hoermann.de','marcus.browning@bluecrestcapital.com','varang.trivedi@ncr.com','dat.pham@hbc.com.vn','saurabh.batra@aexp.com','faisal.irfan@dhl.com','lichao.wang@oracle.com','mayanks.jain@hdfcbank.com','prashant1.thakur@axisbank.com','mansi.koshy@kaizen-gp.co.uk','paul.a.schmidt@mssb.com','angelaliu@icbcca.com','timothy.leitch@jbssa.com','jzsebok@flexngate.com','vivek.vishal@oracle.com','deira@besinvestimento.com.br','adalmia@himadri.com','hturnbull@travelrepublic.co.uk','elewis@johim.co.uk','lamador@tyco.com','christina.zhang@olamnet.com','vivek@helionvc.com','vk.fin@flashgroup.in','joao.cabral@schneider-electric.com','peter.keating@transpac.com.au','sari.djatu@yahoo.com','gloria.santos@philips.com','narenvanigasooriyar@smart-shirts.com','fernando.lodi@br.flextronics.com','turanska@jt-banka.sk','galikova@jt-banka.sk','supa@jt-banka.sk','zsolt.szekeres@msci.com','illuse143@yahoo.com','noordinaryday4jp@yahoo.co.uk','agnes.wong@icbci.com.hk','sgilde@us.ibm.com','dennis.mok@sc.com','felton.wang@macquarie.com','jon@westshore.no','mugods2gx@yahoo.com','james.cushnie@rbcdexia.com','jose.guimaraes@bancopopular.pt','francesca.norton@gmail.com','linda_y_lu@manulifeam.com','ratnesh.singh@alstom.com','joe.kennedy@americas.ing.com','julie.bennett@barcap.com','qvixote@terra.com','martynaulicka@poczta.fm','richard.tonthat@uk.ing.com','iamsogreat2007@yahoo.com','djanay@tradepaq.com','mtolympus1@yahoo.com','charucsbf015@yahoo.com','lauren.edgley@hammond-partners.com','d.willacy-08@student.lboro.ac.uk','nedbless@yahoo.com','ado@nyx.com','grace.swinnerton@rbs.com','neophytos.kathitziotis@commerzbank.com','sandeepgoel@kpmg.com','jonathantcong@hsbc.com.bn','percia3@tlen.pl','jamesgoh@savillsrahim-co.com','globalfx1@verizon.net','joanne.tan@aberdeen-asset.com','maomao11sg@yahoo.com.sg','jgalygina@yahoo.co.uk','costasouza@bb.com.br','rachael@bcsagency.com','sampatha@masholdings.com','finisterra@rambler.ru','jane.griffiths@hoganlovells.com','bart.joris@ing.be','roberts.johnson@bmo.com','lulu-l.yu@sc.com','adviser@mahgoubsons.com','sabine.loesche@commerzbank.com','abolshova@third-rome.com','abujombust@yahoo.com','pascal.ichard@hsbc.fr','cfrancis@rpl-law.com','ashwinsi@nedbank.co.za','smclellan@sapient.com','holy_sindaccos@rocketmail.com','liuqian@bochk.com','matth@bgi-group.com','manwaring@campbell-lutyens.com','gushoopad@yahoo.com','jessica.fleetwood@whitepapercapital.co.uk','martijn116@yahoo.nl','rashid@cbq.com.qa','karen.lecannu@powerscourt-group.com','woodlea3@yahoo.co.uk','madwene91@yahoo.com','saskia@otcmarkets.com','deveshgupta@in.ibm.com','kigyou@okinawa-sec.co.jp','mahmoud.fx79@yahoo.com','clementlee@cathaybk.com.hk','anthony_garces@manulife.com','meg@tradethenews.com','octavia.cutus@ing.ro','rjaismut@heidrick.com','mwu@wuerthfinance.net','alon.hirsch@discountbank.co.il','abock@dfsa.ae','david.hall@anz.com','kate@msbcafrica.com','hayley.barron@rothschild.com','socho@ust.hk','ashington.waithaka@amref.org','zhu_yifei@bankcomm.com','david.gunia@republic.ge','rahul.khare@barclaysasia.com','jim.versluis@boskalis.com','tracy_schiele@cameco.com','ssari@gedik.com','milda.beh@gilead.com','ferdinando.credidio@illy.com','kevin.lee@hexamcapital.com','alistair.mackie@jdrcables.com','jmarneth-rust@lic.co.nz','sabine.chvojka@mkm.eu','armenuhi.hovakimyan@nasdaqomx.am','maximilian.patt@pfandbriefbank.com','richard.cree@progressivecp.com','michaelpbp@bbmenergy.com','eugenio.periti@banca.mps.it','vroduit@tradethenews.com','tom.jack@mdlz.com','pav@i-bta.kz','konstantinos.lamprou@db.com','veronica.galan@hsbc.com.mx','gregory@reportlab.com','tania.kutner@lloydsbanking.com','roman.budaev@unicredit.ru','vbialski@ig.com.br','rebecca.millar@edinburgh.gov.uk','gm733919@wcupa.edu','ken19921221@yahoo.com.hk','alameelaa@alrajhibank.com.sa','j.bartram@orwellg.com','neha.gupta@altor.co.in','laura.stopponi@unicredit.eu','kszeto@goodmans.ca','andre.stephen.painchaud@citi.com','kodja@kodja.com.br','smitcsenkov@csob.cz','afah10@uni.brighton.ac.uk','u1005368@uel.ac.uk','faris.numan@arabbank.com.jo','stephen.labanyi@citi.com','pi7@op.pl','marketing@sregie.com','christine.gaelzer@yahoo.com','tim.wong@corrs.com.au','carsten.michael@newmark.de','patrick.hearne@citi.com','paul-alexander.martin@db.com','andrei.nardim@vwfs.com','yuliya_marauskaya@ssls.pl','shawkins@bbaaviation.com','martina.fichtnerova@emirates.com','anthony@trinitusam.com','carlos.chagas@enel.com','vnimchenko@ncsp.com','christian.karall@unicredit.de','j.hoon.kim@meritz.co.kr','tommy@nzhantec.com','aaronchen@skbank.com.tw','spiotti@alcon-nig.com','samsonchan@century-bright.com.hk','denis.kelly@frmas.com','james-zhixin.zhang@cn.abb.com','andersontan@ocbc.com','matthew.gorman@weybournepartners.com','t.lau@freescale.com','yuki.terayama@smbc.com.hk','janis.bebris@ribbank.com','ennio.siracusa@reedelsevier.ch','libin557@pingan.com.cn','shawn.yu@cn.geodiswilson.com','jiun.hoe.yee@citi.com','andrew_brodbeck@cargill.com','daniel.alvarez@gruposustava.com','nivb@actimize.com','fiona.sf.ng@hk.pwc.com','abc@web.de','terrychung@bocgroup.com','linda.janiszewski@saatchimasius.com','rfshayan@yahoo.com','scornell@smart-trade.net','kfrey@gfmag.com','mark@greenowlcapital.com','paul@causeworthy.org','neil.rowcroft@investec.com.hk','alan.hodgart@hodgartassociates.com','joe.bolton@kpmg.com','pineaple@hanafn.com','o.alami@cdgcapital.ma','jamethe@us.ibm.com','sonia.chaachoua@rbs.com','patrick.j.soraghan@uk.gt.com','suzanne@baf.msmail.cuhk.edu.hk','jalpa@heatbranding.com','evanyang@ivorycapitalasia.com','zhangweijing@xcf.cn','kalpna.gaule@us.pwc.com','marco.van.harten@be.pwc.com','noel.montaigue@openlink.com','henrykt_choi@cncbinternational.com','mcnya2@student.monash.edu','wendy.lucas@ch.ey.com','anwar.sidat@baml.com','gsmith3@statestreet.com','brigita.morel@siol.net','sang.lee@mhfi.com','kate.dillon@rothschild.com','pengcheak.tan@1mdb.com.my','alai@cgsh.com','akfkwok@hkma.gov.hk','jan.vagner@cah.cz','kignatyev@alrep.ru','nvalderramaocampo@corpbanca.com.co','zuzana.svobodova@unipetrol.cz','mariana.pavan@v-agro.com.br','andrea_cruz@swissre.com','trading@vpconcord.com.tw','victoria.lemus@cofal.com.gt','nadi.linlett@charlesparsons.co.nz','lois.copsey@man.com','fu.lina@hkwinternity.com','pwanjagi@ticts.com','7163@gzev.com.cn','h.gevorgyan@furniwood.am','anil.barve@cosmosbank.in','seahsenghong@octagoncapital.com.sg','a.kazakov@osram.com','johannes.leger@knorr-bremse.com','rick.li@advantaseeds.com','babyface10@cmbchina.com','sushma.reddy@adama.com','michael.shaile@libertyglobalgroup.com','imranulhasan@gbmpak.com','repas@cleverbridge.com','william@ozforex.com.au','jin_zi_ye@cn.mufg.jp','daniel.aspenberg@electrolux.se','ivyli@feib.com.tw','michal.slomkowski@bizbank.pl','chaileng.ang@freescale.com','werner.mahler@ringier.ch','mudassar.hussain@saifgroup.com','marcel.nardelli@alcoa.com.br','gopal.bharj@altanawealth.com','murilo.gonzalez@caio.com.br','caiquet@agraria.com.br','stulikovaov@profestate.ru','joelisson.oliveira@mdlz.com','mercy.mogotsi@bw.pwc.com','hany_waty.pangaribuan@roche.com','anthony.mason@kohlereurope.com','shsong@nexon.co.jp','olga.vasilevskaya@eu.agc.com','hosea.mwakyoma@nbctz.com','geoff.summers@howardkennedy.com','nurfazlin@bnm.gov.my','jameswleew@gmail.com','wongwhkelvin@ocbc.com','drhassabo@badea.org','zeeshan.masud@djembecommunications.com','kathryn.wyon@lloydsbanking.com','david.thomas@henderson.com','angeline.kwan@cimb.com','lee@magna-carta.co.za','ron.jarosinski@baml.com','asya@ryancommunication.com','dantagos.jimmy-melani@bon.com.na','dheeraj.ramachandran@tetrapak.com','raja.norazilla@tetrapak.com','ahsan.hafeez@sanofi-aventis.com','jwaler-nowak@salans.com','bernard_ck_tam@hk.mufg.jp','yho@ifdsgroup.com','hattie.ni@kohler.com','toby.johnston@asb.co.nz','jens.fornander@sandvik.com','patrick.fleur@pggm.nl','carlos.zapatero@beamglobal.com','min.zhou@epcos.com','daniel.chong@schneider-electric.com','fulopb@otpbank.hu','bashir.osman@cbi.ae','abhishek.barrak@axisbank.com','cmchugh@gresham-computing.com','haydee.acunia@ar.abb.com','catherine_song@cargill.com','mark.herbert@barings.com','cindy.xu@kohler.com','patrick.deierling@eurexchange.com','robyn.giannotta@marsh.com','kneufeld@mestel.com','muntasin.mujtaba@bracbank.com','alondono@caxdac.com','david.tente@cfgcustomers.com','xiaolei.nie@jci.com','lackd@dnb.com','salahuddin.manzoor@hbl.com','dajo@forexfox.nl','barrieref@blcmf.com','connie.kelly@fmcti.com','mvarkey@nbk.com','mehranvari@sinabank.ir','tanttmichael@ocbc.com','fcowell@cph.com.au','shanaka.trp@keells.com','ivan.avendano@ronesdeguatemala.com','fearghal.fitzmaurice@united-drug.ie','jmore@cmbchina.com','michael.frisch@seb.de','badouserge.kobena@ci.nestle.com','kmonet@euromoneyplc.com','mmcdonald@axarosenberg.com','wilda-s@ktb.co.id','laura_puente@cargill.com','felicio@usinaester.com.br','whitelawj@rba.gov.au','htphuong.ho@vietcombank.com.vn','tahmad@euromoneyplc.com','wlco@hkstar.com','alan.chan@tescohk.com','david.thorne@rbs.com','whvanlo@scj.com','patrick.vyroubal@csob.cz','amohamed@vssa.co.za','vera.ivantsova@shell.com','c.nikolaou@proton.gr','c.pasco@prolea.com','rowan_calvert@gfsg.co.nz','mschou@visiumfunds.com','nettle13rus@rambler.ru','mrodriguezm@ternium.com.ar','fhurobert@wp.pl','idrozhkova@hyundai.ru','dpallan@scholastic.com','tradefin@dcgtraining.com','mustaf20048@yahoo.dk','awood@tower-research.com','mariano.basta@ivax.com.ar','rvillela@bulltick.com','honggoo.im@nomura.com','ebakker@delta.nl','paul.matherne@db.com','jkenney@iimagazine.com','sum_mit24@yahoo.co.in','peter.mutuku@boakenya.com','bughie@ktb.co.id','crfnmhk@crc.com.hk','bharatkashyap@rediffmail.com','chris.ingoldsby@autodesk.com','g.ranganath@wrigley.com','pmuchinsky@fxcm.com','luciana.santos@visum.com.br','anil.borude@sulzer.com','sirisompolkul.orawan@total.com','lzanella@seven.com.au','annie.yong@grandmtr.com.bn','kttamkin@yahoo.com','p.ladik@minfin.gov.by','bbashaw@rjsassociates.com','tanny.t.sethi@aexp.com','sohpeisong@octagoncapital.com.sg','mary.zerjav@bnymellon.com','christoph.kind@frankfurt-trust.de','oafanasyev@raiffeisen.ru','kaslanian@tullettprebon.com','deirdre.murphy@originenergy.com.au','dakir33@yahoo.com','atopbas@atbank.com.tr','phenry@finsburytrust.com','ssasaki@hirogin-utsumiya.co.jp','chinthuc@irevna.com','louis.petrucelly@falconstor.com','wabenabdessalem@mena.ko.com','ralphbp@dbs.com','janet.ng@sheenbright.com.hk','massimiliano.tofani@bancaetruria.it','mia.trinephi@anz.com','lkoehn@bottomline.com','ldemenezesp@repsol.com','struan.robertson@ap.effem.com','kshitij@petrocheme.com','a.ossowski@wikapolska.pl','neil.edwards@angloamerican.com','cblank@haniel.de','anders.skoldberg@ap2.se','jparker@euromoneyplc.com','lexe_alex@yahoo.com','rafaelito@axiomtelecom.com','benoit.maillard@bnpparibas.com','carlota.marques@itaueuropa.pt','amu@tdc.dk','michael.shore@cmegroup.com','karen.wales@ap.jll.com','pcp@arrakis.es','b.a.-n.a@t-online.hu','darrell.porter@nomura.com','harold@bmbadvisors.com','jneves7@bloomberg.net','tomadam@poczta.fm','matias.ferrero@ncr.com','yakup.fresko@ykyatirim.com.tr','seunghoyoo@hhi.co.kr','paul.p.jones@morganstanley.com','ooiteikeng@yahoo.com','s.doehmen@analytik-jena.de','peyling.yau@al-lighting.com','gulshan.taneja@db.com','dfedakar@hurriyet.com.tr','esv@rfb.ru','aburgazj@bancopastor.es','scott.davis@aberdeen-asset.com','sagilya.baishurina@prostokredit.kz','lucja.kujbida@rameta.com.pl','t.bruehl@dkv-euroservice.com','adrian.dumbrava@ro.flextronics.com','andrew.g.clouting@aexp.com','kostenko@stihl.ua','lonestar_kel@yahoo.com.sg','or_ganaa@yahoo.com','sergey.kapustin@vtbcapital.com','og_oggi@yahoo.co.uk','dinesh.shah@rugswithflair.com','hang@tiedemannfunds.com','penakuliyev@gmail.com','william@solidminas.com.br','pietrogugliotta@libero.it','amelia.lowe@globalcapital.com','dougall.molson@freshfields.com','david.anderson@btgpactual.com','n.stirling@weir.co.uk','awale@banksalaam.com','darsha_j21@rediffmail.com','omar.fakhouri@samba.com','dbalint@italsofaromania.ro','akirin@ccb.ru','sujeewa.samarakoon@trelleborg.com','adriana.piskozub@gm.com','zaka@anwil.pl','snguyen@hitl.hitachi.com.sg','stephanelax@yahoo.fr','tishanw88@hotmail.com','i.kolyada@seifert-roentgen.com','spilcer@delhaizegroup.com','derek.shewring@bmo.com','ceotimothy@meritzam.com','d.hill@grangefen.co.uk','tagaoglu@herguner.av.tr','john.lucey@onepath.com.au','amerhaddad@nbk.com','gregor.krajnc@probanka.si','janos.imrei@erstebank.hu','furqan.ahmed@pdil.com','tadzhibaev@bc.kz','jmontoya@nansa.com.mx','luisa@axistravelmarketing.com','chrissim@tanchong.com.my','luiza.buzea@alicopensii.ro','james.scragg@volksbank.com','tracytan@singnet.com.sg','jack.peene@sebny.com','ganesh.subramanina@ing.nl','rocio.castaneda@unilever.com','omk@knotgroup.com','corina.mandragiu@rcibanque.com','abhishek.parmar@coalition.com','bferizoglu@garanti.com.tr','alain.gruge@socgen.com','karunakara.mahabala@socgen.com','gaetan.laroche@dexia.com','ulugbek55@list.ru','pauline.bryan@adm.com','jmspelzini@fortinox.com.ar','abakir@tni.ae','ines.virgil@rewe-group.com','pierre.goad@hsbcgroup.com','sdereyan@interaudibank.com','james_neill@westlb.co.uk','adam.phillips@bluefincapital.com.au','anna.chychyl@marks-and-spencer.ua','lalith.bsm@wipro.com','wnel@realpeople.co.za','paddy.mccrudden@blackrock.com','utxikt@vnn.vn','jeff.barry@bbh.com','rdwatson@privatefx.net','bill.amanatidis@anz.ccamatil.com','skawano@fxtrade.co.jp','sarah@bmbadvisors.com','theroadahead0509@yahoo.com','humberto.schenflede@autoliv.com','keeley.horwood@uk.ing.com','burak.dagli@jci.com','narita.jitsuo@jp.kline.com','darsha_j21@yahoo.co.in','nbtrung@lgvinachem.com','jmwatsama@conran.com','gerof.secam@bb.com.br','ian.fullen@ge.com','jean-claude.courtois@altran.com','daria.dyakonova@bakerhughes.com','mohamed_dawoud@bat.com','paolomaraldi@carispcesena.it','urasar.s@thaibev.com','grubere@otpbank.hu','inge.van.spall@mail.ing.nl','nzanten@cisco.com','bikash.hansia@mphasis.com','eddiechen@cmbchina.com','pmilczarek@energomontaz.com.pl','julien.ramone@us.bnpparibas.com','jason.hua@xintianfund.com','bkorku@aps.com.tr','tom.levinson@uk.ing.com','schung@euromoneyplc.com','chinthu.chidambaram@crisil.com','ohoskins@lear.com','heiko.riese@gleich.de','jolmedo@difbroker.es','cplim@mks.ch','elizabeth.koumettou@jpmorgan.com','lpmarques@creditoagricola.pt','yin_ser_soh@my.mufg.jp','mnlgscfingen@maersk.com','david.hillhouse@boq.com.au','maylau@shkp.com.hk','jmg05092002@yahoo.co.kr','jorge.vasconcelos@vindix.com.br','clarencewong@gfn.dch.com.hk','ssmith@vhbio.com','anne_kwong@vanguard.com.hk','luis@limfi.com.br','aaaannnniiii@abv.bg','jorrit.kooi@ing.nl','li.wang@sgs.com','bhankins@welton.com','cstreubel@skncaribecafe.com','hdkim@zincox.com','jing.jin@otis.com','micfinwkctry@maersk.com','richard.k.thoennessen@marsh.com','abdulrehmanr@nbk.com','shabbir.ahmad@ae.nestle.com','ivanaj315@yahoo.co.uk','parksy@yna.co.kr','farida.hoosen@abcsystems.com','baltasar_pena@yahoo.es','alex@recoverypartners.biz','dirgeneral@prada.mx','bijan.seghatchian@sinopia-group.com','jan.paroubek@alpiq.com','budi.a@sanfinance.com','justin.greene@ortuscapital.com','alex.depetris@db.com','cmak@jos.com.hk','magicnelson@yahoo.com.sg','amanda_boix@yahoo.se','anna.gabran@aktia.fi','matt@silvercreekcapital.com','ddesaulniers@pb-santander.com','suwalak.ratanachaiyan@bdk.com','adrian.fitzpatrick@kamescapital.com','hanan.al-najjar@gatehousebank.com','raninao@macroadvisers.com','brett.greentree@traditionasia.com','kazuma.yamashita@bnymellon.com','michel.abaza@safran.fr','lpoot@mexichem.com','mmpsilva@creditoagricola.pt','echo.yang@konecranes.com','e.grahofer@allianzinvest.at','okansu@grundfos.com','kinwah.wong@kepcorp.com','alexandre.azevedo@gerdau.com.br','ytolon@oztiryakiler.com.tr','pthanati@toyota.co.th','john_patrick@my.mufg.jp','lparedes@tasa.com.pe','alan.evans@rbs.com','thuy@fashiongarments.com','john.johnson@medtronic.com','suoxiaoli@sohochina.com','arne.keinke@dnvgl.com','jagmohan.sharma@hindustantimes.com','joserampazo@cpfl.com.br','simon.knappstein@ingbank.com','pfgomes@bpp.pt','juliana.franco@ppefios.com.br','liviu.tofan@asbis.ro','enrique.esquivel@hsbc.com.mx','javier.pintado@renault.com','vicky.ross@ldfm.com','jmcandrews@valspar.com','irenaudie@whitecase.com','mangesh.deshpande@amdocs.com','931853@taishinbank.com.tw','rn@celfin.com','rosta71@yahoo.com','grzegorz.grohmann@mwv.com','mey300@yahoo.co.uk','vtimerman@bulltick.com','msedamkar@canpack.co.in','p.ozouf@gov.je','vasile.foca@gmail.com','hennuocngot@yahoo.com','jacobo.lopes@mcel.com.mx','brianw@emiemm.com','colleen.hsia@blackrock.com','daniel.elton@globalcapital.com','antoniorodriguezm@gruposantander.com','ed.monaghan@rbccm.com','samuel.gilbert@tardisgroup.com.au','paul.cloke@uk.mlp.com','sgoldstein@capstoneco.com','jesmin.boussougou@halliburton.com','alley_ally@msn.com','okubeni@yahoo.com','lmarquez@accival.com.mx','irina.zouikova@renault.com','ishprotejus@yahoo.com','bruno.oliva@interseguro.com.pe','hans@smith-jessen.de','alok@ramkrishnaforgings.com','samir.aghera@db.com','georgescua@acti.ro','reshma.madhi@legal500.com','mgalcega@lacaixa.es','sei.sano@mizuhocbus.com','rizki.siahaan@gm.com','anthony.michael@aberdeen-asset.com','ameron@rambler.ru','robby.kumar@barcap.com','cagan.erkan@garanti.com.tr','abdulhakim_hp@yahoo.com','s131462@notes.sharp.co.jp','wanda.riemer@hp.com','c_jelliffe@uk.ibm.com','gforex7@yahoo.es','robert.standing@ldfm.com','gshinner@mightyleaf.com','rknsubuga@yahoo.co.uk','vincent.coquilhat@komatsu.eu','nicholas@imcgroup.com.hk','gzafiropoulos@ibg.gr','vlad.gheorghe@gdfsuez.ro','ricardo.siso@agfa.com','rafael.sevilla@hsbc.com.pe','gunasekarv@alrajhibank.com.sa','lquek@kpmg.com.sg','crosland@interbankfx.com','francois-xavier.holderith@saint-gobain.com','david.quirke@tullowoil.com','sbenavides@pelambres.cl','boj07@yahoo.com','hamster83vn@yahoo.com','jason.battistessa@stonebridgegroup.com.au','minh.letien@mlp.com','devil_sid9@yahoo.com','dgross@glatfelter.com','pet_roshan@yahoo.com','scott.henderson@newmont.com','ali.jahan.1@city.ac.uk','erin.parkinson@inpex.com.au','mark.smitheram@bjball.co.nz','stuart.king@ingrealestate.com','ramana.rao@icicibank.com','dflorian@offices.fibank.bg','pgarcia@galileoar.com','jiten.manglani@ms.com','susy.wong@efforts.com.hk','shamir.pandya@ldfm.com','jilopez@venturagamberg.com.ar','fabio.zamith@carval.com','vojtech.machac@crc.cz','fabrice.bevilis@lcfr.fr','karolis.adomaitis@peregrinecommunications.com','michelle.fountain@lovells.com','stanford.hartman@uk.ing.com','laura.badea@ing.ro','kdoboszynskapasek@sygnity.pl','nina.luedtke@deutsche-boerse.com','mfidalgo@lear.com','yao.wei@jci.com','philippe.lesage@mcb.co.mu','stephane.ortelli@gaselys.com','milagros.elera@perhusa.com.pe','feiran.long@bof.fi','marko.dicak@hypo-alpe-adria.com','eugene.durenard@btgpactual.com','juanruk@yahoo.co.uk','peter.tallboys@resourcesuk.com','davidmg@bmbadvisors.com','allan.kristoffersen@royalunibrew.com','chris@bmbadvisors.com','madhuyr@juniper.net','seung.ha.lee@jci.com','dafnishloa@rambler.ru','joneil@fxcm.com','bluehun@shinhan.com','manisha_shah@syntelinc.com','elghory2010@yahoo.com','jenson.liu@sabic.com.cn','sdevine@deloitte.com','kenneth.thuo@ericsson.com','timothy.anugerah@tafinance.com','cigdem_gures@cci.com.tr','olawale.akintona@zenithbank.com','mohit.saluja@lloydsbanking.com','smerchant@flowserve.com','henryho@dbs.com','nicolas.echeverria@weyerhaeuser.com','johnny.ho@nsn.com','lyutikov_ss@welor.ru','nigel.roskams@rbos.com','nicholas.g.savramis@charteronebank.com','natalie.lim@benefitcapital.asia','vishal.anand@godrejcp.com','lorna.greene@commerzbank.com','adalolli@brookleigh.com','nicklas.johansson@selecta.com','antti.kyyro@nsn.com','marilyn.castillo@yara.com','jthornton@qtc.com.au','pablo.lopez@sandvik.com','eduardo.martinez@aurigasv.es','richard.gill@bnymellon.com','luisa.graziani@bancaintermobiliare.com','isaac.kambani@total.co.zm','altan.ali@centralmarkets.co.uk','mharte@platinumlp.com','henry.yu@icbci.com.hk','manuel.ingelmo@fertial-dz.com','enaliev3@rambler.ru','skierplus7@yahoo.com','ekw@celfin.com','barclays@barclayscapital.com','sami.mahfouz@sc.com','michael.mcadams@robn.com','barry.pollentine@hoaresbank.co.uk','abond@bradfordmarzec.com','fabricema@inditex.com','guevarac@bcie.org','andreja.cobeljic@lmrpartners.com','aisbister@directfx.co.nz','cskoi@favorich.com.my','alexyuen@imci.sg','iwong@sofaer.com','lchang@cascabelmanagement.com','bartap@generalippf.eu','mtremblay@fjordcapital.com','ezra.zask@sfcassociates.com','info@spiro-strategy.com','t-reyes@ti.com','gkrinn@mboffice.com','ajay.abrol@mlp.com','csacco@ges-m.com','elena.micu@agroalim.ro','bruno.bak@btgpactual.com','pad@cambiste.com','adam.olive@halbis.com','mathura@alxn.com','james.duke@brunswick.com','chinhui.tan@barclaysasia.com','hramirez@collectron-int.com','eddie.clarke@rabobank.com','mpereira@ingdirect.ca','alberto.moscato@socgen.com','lydialow@imcgroup.com.hk','tinakim@kdb.co.kr','kikuchi-yuta@nst.hitachi-hitec.com','rickylau@gfn.dch.com.hk','bilgin.soylu@mondrian.com','jie.li@voith.com','dfay@pemcosteel.com','daniel.steiner@centrumbank.com','theresa.haellmeyer@viscardi.com','amaasland@kcg.com','mmuller@bdcm.com','sujeet.chanekar@syngenta.com','sahrizan.rubaai@conti-sime.com','chi.lee@inbox.com','lucy.richardson@rmbam.com','tiephn2007@yahoo.com','lisa.murray@citi.com','crispin.beltran-jr@goldfields.com.ph','9999@9999.com','hojot@sc.sumitomo-chem.co.jp','bstevens@euromoney.com','r.hottensen@olayangroup.com','sormani@martin-brower.com.br','mike.bagguley@barcap.com','agoldberg@bluecrestcapital.com','mcgovest@ie.ibm.com','mirko.stankovic@renault.com','amazzarese@fxcm.com','john.carrion@db.com','edward_boyle@americancentury.com','judith.tanedo@db.com','dowie@emirates.net.ae','elif.rumani@ddm.com.tr','withanage@bmbadvisors.com','tracy.hsu@auo.com','carlos_arreola@siogran.com','ramadangonim@yahoo.com','paolo.crozzoli@sgss.socgen.it','natchanon.phangmuangdee@ktb.co.th','ryan.lee@gs.com','takahito.tanaka@barcap.com','cristina.cirjaliu@rematscholz.ro','andrew.woolmer@seb.co.uk','luisa.graziani@gruppobim.it','amin.ajami@turquoiseassociates.com','sugita@tradition.co.jp','yingli@bnbmg.com.cn','chalermkwan.s@nike.com','kasao.chinyanta@zain.com','chee-keong.looi@power.alstom.com','meijia.wang@cimc-raffles.com','jiajia.dai@gs.com','jwpark@daishin.com','kalashnikov12090@yahoo.com.vn','horst.simbuerger@volksbank.com','tashen.kandasamy@gs.com','kaori.matsunaga@baml.com','safinah.mdrafi@alrajhibank.com.my','andrew.p.reid@db.com','bui.van@gene.com','dgalan@emii.com','chang.lee@nomura.com','david.andrews@poferries.com','carolina.strobel@intel.com','nermeen.shedid@cibeg.com','lena.thurairatnam@genworth.com','josieg@marcusevansuk.com','djumala_sutedja@manulife.com','andreas.kenel@ikano.ch','lscott-smith@millenniumglobal.com','jim.scalfaro@sealedair.com','smmanalo@bpi.com.ph','cpelaez@credicorpcapital.com','olena.kolosvetova@otpbank.com.ua','duncan.kinuthia@boakenya.com','yue.xia@cimb.com','gchazal@ttmetals.com','mgomez@dragon.com.mx','aching@securitybank.com.ph','hatd@bidv.com.vn','rgalindo@mic.cu','mstorey@calamos.com','raymund_g@ph.nec-tokin.com','fiona@aura-financial.com','martin.taylor@hsbcgroup.com','general_of_love2000@yahoo.com','vnovako1@spolana.cz','marco.reggio@aristonthermo.com','piyushgupta2005@yahoo.com','ndungu.thairu@yahoo.co.uk','jorgen.ostergaard@barcap.com','limdilin@yahoo.com','keiko.mitsuda@fil.com','josemariaiceta@yahoo.es','papaefstathioug@hagemeyer.com.au','sherif.ezzat@socgen.com','leopoldo.lomeli@averydennison.com','contabil@alumaq.com.br','tpradhakrishnan-gpi@modi.com','lowe@verdimarkets.no','andrej_gajdos@tatrabanka.sk','david.ketley@harmonic-capital.com','gurmeet@etristar.com.sg','puvina@pwbonline.com','zszczerbetka@deloittece.com','mtrousselot@timl.net.nz','jean-pic.berry@socgen.com','mg7361a@american.edu','donald.gross@glatfelter.com','jonathanmooney@fleetsearch.co.uk','aleon@uaetrading.ae','alex.hornung@dexia.com','iphama@bancabc.com','viraj.desai@edelweissfin.com','niral.shanghvi@lwin.co.in','smoorthy@mfglobal.com.sg','rruprai@spencerstuart.com','kukacka@generalippf.eu','kodama.syuuichi_j01@joyobank.co.jp','keith.ellison@genworth.com','dlcontexto@yahoo.com.mx','martin.gravare@orica.com','udaya@aeonmalaysia.com.my','tcarone@equityinternational.com','talha.rahman@bd.standardchartered.com','c.m@bankcomm.com','charles.jiang@bsibank.com','marvin.d@accbpo.com','dmorrisroe@fxddfrontier.com','enis@kempen.nl','sunilgupta@simbhaolisugars.com','scottjmitchell1@gmail.com','yongjun.liang@homa.cn','lyndaarnet@aol.com','mchie@hlhz.com','daniel.cangemi@efgfp.com','zx101@rambler.ru','stuartdiggles@raven.co.uk','scalmet@bcp.com.pe','alessandro.borghetti@fincantieri.it','a.salomao@marangoni.com','bernard.sinniah@citi.com','adam.sorab@cqsm.com','blair.mccaleb@andrew.com','jitesh.malik@nucleussoftware.com','javed.malpura@quantcapital.co.in','joseph@allardpartners.com','bafleh@eim.ae','irie_yoshikazu@dn.smbc.co.jp','messageme@ymail.com','dilshod.pulatov@kapitalbank.uz','pshah@toscafund.com','matt.marshall@supplycore.com','lenny.nigro@lloydsbanking.com','brian.hasbrouck@dexia-us.com','selma.caproni@ipanemacoffees.com.br','prudzki@grundfos.com','janinebrezovar@northwesternmutual.com','martin.persson@husqvarna.se','trevor.williams@lloydstsb.co.uk','jflor@slb.com','maria.vandlikova@enel.com','e_grigoriev@rosneft.ru','liviu.olaru@baneasa.ro','priyanka.bhojani@mdlz.com','sven.doerge@us.festo.com','k.conlon@infinitycm.co.uk','adesouza@iif.com','plbradley@wellington.com','charu.gupta@bharti.in','mma@granitnegoce.com','esteban.botero@telefonica.com.co','mboutchich@etihad.ae','wchorng313@yahoo.co.uk','brett.backhouse@btim.com.au','ocardoso@lda.bna.ao','andre.shiokawa@btgpactual.com','ybarnea@eladgroup.com','eric.ng@gpe-hkg.com','luca.jenkins@bcv.ch','julia.hauser@credit-suisse.com','franco.pierini@ldcommodities.com','szuercher@mdlz.com','nikorowski@superfund.com','olga.iuziuk@effem.com','nicole.m.huynh@jpmorgan.com','choonlin.thong@otis.com','ioan.tapu@bnc.ca','miyao@u-bridge.jp','vnair@ta.com','iduncan@thenuancegroup.com','pavel.pantucek@fibi.ch','spazkore24@yahoo.com','jarno.timmerman@akzonobel.com','christian.chetelat@prysmian.com','febri_ciuputra@id.festo.com','emmanuel.daoust@vizada.com','sgys@cmbchina.com','cwong@samenacapital.com','ali@accesspay.co.uk','christianamaciel@uol.com.br','manish.agarwal@cbi.ae','mavoungou1@slb.com','sd5@evansville.edu','cory.mccruden@bnymellon.com','g.zakaryan@armdb.com','nickburge@hbosts.com','kulkarni.umesh@mahindra.com','patrick.demers@fmr.com','jackson.xu@crn.alstom.com','werner.striegler@eurex-bonds.com','nikola.kirilov@ingbank.com','luis.costa@uk.ing.com','alexey.zaytsev@unicreditgroup.ru','tomas.plachy@safina.cz','kazakova@elana.net','cleverson.i@seara.agr.br','cosgrove@deshaw.com','cfortson@cclp.com','thapelo.ramere@za.hsbc.com','erwan.pirou@barclays.co.uk','graham.bippart@globalcapital.com','s.mabaso@sdv.co.za','desireed@marcusevansuk.com','bjoern.kogler@mainfirst.com','rgonzalezar@accival.com.mx','kevin.f.obrien@mssb.com','karends@iinews.com','aydana.nurgabylova@interpipe.biz','kristina@bmbadvisors.com','oeexpressions@gmail.com','foster.wayne@fin.gc.ca','vishwanathan_iyer@omegaship.com','fankk@bankcomm.com','wschoi@elgmetals.co.kr','pranayjain@iname.com','michele.morandi@gruppoesperia.com','dennis.c.bentson@citi.com','kamesh.nagarajan@smithbarney.com','nafin@nafin.co.uk','ph@nyloncapital.com','james.t.martin@barclays.com','antoine.onfray@unibail-rodamco.com','pohka@sg.ibm.com','ryan.ayache@db.com','ramaswami.sivakumar@wipro.com','mgs@herdezdelfuerte.com','michael_flannery@jwhmail.com','kabutu@ci.or.ke','robert.decaro@53.com','pmckee@dbrs.com','mikael.lundberg@seb.se','pikanovskiyav@polyusgold.com','fgdsm@yahoo.com','andl@saxobank.com','sedef.gunsur@nbad.com','gsekhri@kaizenfinance.com','timothy.cuffe@barcap.com','sandyliu@kingbox.com','simona@industrial.ro','lpena@grupowong.com','isavuran@tspakb.org.tr','kieran@merkinvestments.com','saurabh.jain@srei.com','annie.lin@nomura.com','roger.ward@barclayscorporate.com','mike.coulter@aqr.com','david.moyal@actelion.com','birkan.karatas@kuveytturk.com.tr','jipmawditt@yahoo.com','sonal_malankar@syntelinc.com','samantha.smith@moorgategroup.com','info@latinmarkets.org','nilesh.pathak@wipro.com','ademir.araujo@sgef.com.br','adundar@eximbank.gov.tr','library@db.co.za','padd@shinseibank.com','intanurmarinda@yahoo.com','gcureno@epson.com.mx','owenfu@hkex.com.hk','jaberant@cephalon.com','samir.shah@arcadiagroup.co.uk','luvfurangel@yahoo.com','jmanry@pictet.com','kevin.kwok@metrobank.com.ph','sarita.clark@barclayscapital.com','radek_novotny@kb.cz','i.morawski@rp.pl','soyan@kpc.com.kw','threelegsbird@yahoo.com','eduardo.riosg@gmodelo.com.mx','jugarte@mx1.ibm.com','mayuko-makita@agc.co.jp','wayne.baker@rbccm.com','raminvaf0@yahoo.com','etb87@abv.bg','sunny.singh@lmax.com','underworldnik@yahoo.co.uk','rsuarez@aditivosmexicanos.com','zshaikh@engro.com','frederik.harleman@bhf-bank.com','kmckern@sapient.com','mike.dengis@cmegroup.com','paolo.sideri@it.natixis.com','mapostolou@pegasus.gr','wipavadee@thaiplastic.co.th','take.matsuoka@mitsui.com','rjohnsey@axiometrics.com','paul.bugingo@dentons.com','juan.laso@beamglobal.com','will.lindquist@beamglobal.com','stephen.long@invensys.com','steffen.roesler@airberlin.com','eleven.liu@kohler.com','bigchan@hi-ib.com','bs.song@truefriend.com','nalini.balbhadar@repsol.com','andres.loza@marfrig.com','sahn@tricadiacapital.com','vargente@cisatrading.com.br','renato_varella@cargill.com','alfonso.peralta@federalmogul.com','jingyang_tao@cncbinternational.com','amanda.mckenzie@olswang.com','kovacs.szilard@bankar.hu','le_thi_hanh@vn.nykline.com','i.zelentsov@globexbank.ru','blords@nuskin.com','willa.zhou@hm.com','szepoeh.lim@sgs.com','ishcherediina@detmir.ru','maria.paredes@kg.com.pe','marcel.haenni@pax.ch','margetiny@jt-banka.sk','jmarin@talisman-energy.com','dshah@capulaglobal.com','houiem.azizi@optorg.com','messano@slb.com','daniela.orbelli@techint.it','dsimoes@technip.com','tsorrell@haemonetics.com','nicolefarrar@neatcapital.com','yet.kin.chin@maersk.com','bmaheshwari@westpac.com.au','ashok.goyal@gapcogroup.com','renat-urman@rambler.ru','rusatu@lycos.com','daniel.spitz@juliusbaer.com','amisra.external@unicreditgroup.eu','caophy@imexcuulong.vn','hscheide@roeper.de','bbjelic@leumi.ch','ammar.al-shahrani@gibbah.com','youngjung.kwon@daewooenc.com','chenkai@mail.king-long.com.cn','lew_harper@tiscali.co.uk','maha.hajji@hsbc.fr','nataliya.gorodnycha@ukrsibbank.com','rsuparta@yahoo.com','ptorres@agbar.es','aleksandra.monach@cantabcapital.com','kanmaz_huseyin@allergan.com','emresearch2@euromoneyplc.com','jdacosta@wellmanage.com','virgilio.castrocunha@mvpcapital.com.br','koushi_watanabe@monexfx.co.jp','ionmarin@ps2.ro','hamisi.mwakibete@cbagroup.com','charlotte.knecht@sberbank.ch','iva.hladikova@nktcables.com','greg.sadler@cqsm.com','h.grov@selmer.no','rafael.barbosa@barraenergia.com.br','adriano.aruajo@grupomaggi.com.br','jtodd@abl.com.au','craig.duncan@citi.com','laurent.halloy@sappi.com','simon.xu@lobbheng.com','reuterbond@yahoo.co.kr','ar@jmbcapital.com','christopher.george@sirioltd.org','avisekh@executiveaccess.co.in','ross.ryan@barclays.com','chen-hao.zhou@mitsubishi-motors.com.cn','edmund.or@fukutomi.com','ashish.ranade@cosmosbank.in','grzegorz.witkowski@trigon.pl','philippe@rakceram.com','murilo.mascaro@saomartinho.com.br','hassan_farooq75@yahoo.co.uk','nicolas.pichou@socgen.com','andrew.chan@nov.com','charles.igbon.woods@hsbcgroup.com','siba.panda@fujifilmindia.com','jbagoka@tz.pfscm.org','eric.laniel@futureelectronics.com','starjiho@shinhan.com','jessica.quinn@hp.com','vasile.tomita@vb.md','mwarren@quantlab.com','dwalsh@statestreet.com','djeanneau@megaplaza.com.pe','lucasa@essilor.fr','wyjung@daishin.com','s.loison@jeuneafrique.com','martin.t.byrne@jpmorgan.com','m.bringans@cmcmarkets.com','patrik.havander@seb.co.uk','aigul.khussainova@nov.com','kenjs.lin@primax.com.cn','oiriarte@independencia.com.mx','eduardo.battagin@rolandberger.com','matt.kassel@americas.ing.com','nada.vasiljevic@victoriagroup.rs','vetherington@aliaxis.com','akahanov@eladgroup.com','jiameng.teah@tateandlyle.com','himanshu.jindal@heidelbergcement.in','wasim-zayed@falconbrokers.com','kim.ilhwan@nhis.co.kr','yessilbayev_n@kaztt.kz','spencer.quarterly@partnerre.com','berlyn_patricio@seaoil.com.ph','jdefferrari@adecoagro.com','klitos@hills.com.au','ahardday@huawei.com','lukas.weber@swissgas.ch','epilgri@whitneygroup.com','sanaa.gharbi@philips.com','yar@bhbemissary.com','piyushshah@ambitinv.com','artur.zak@anwil.pl','roseane@supermax-brasil.com','prashant.jha@rbs.com','autoqa@euromoneyplc.com','anna.zarebska-krupa@gea.com','pohkuan.tan@ellismunro.com','limbika.mtalimanja@marsh.com','adakech-ext@royalairmaroc.com','todor.belov@molsoncoors.com','graeme.coetzee@absacapital.com','ahussein@arabbank.com.eg','oliver.paraschiv@cec.ro','clementina.tito@stockwellgroup.com','montet.a@grandmarnier.tm.fr','hkilian@czarnikow.com','david.tente@citizensbank.com','w.gamrat@stalprofil.com.pl','piotr_lesniewski@mennica.com.pl','mukesh.ke@gapcogroup.com','sm.zucchelli@libero.it','james.sebastian@fmr.com','gilles.staquet@bnpparibasfortis.com','srcohen@debevoise.com','elena.baykusheva@sebn.com','paul.bousquet@gm.com','djamel.ahmedi@arableasing-dz.com','jagmoha.sharma@hindustantimes.com','sebouh.takvorian@lloydsbanking.com','podrakji@meritz.co.kr','kleyssona@suzano.com.br','irina.a.safonova@effem.com','a.schuermann@ksa-network.ch','olga.koroleva@oxylane.com','nga.ltt@gmobile.vn','carmem.frumi@cooperfibra.com.br','jcantu@hotelescity.com','buthaina.aldabsheh@arabbank.com.jo','y.elbourakkadi@bmcek.co.ma','jaehyun.suh@meritz.co.kr','aboukaroui@fininfo.fr','andry.silvanus@ocbcnisp.com','naziya.inamdar@amcor.com','erika.mendez@mdlz.com','.kyungwon.ryu@bnymellon.com','rmalindzisa@coca-cola.com','epi@ballingal.com','pornchanok_rattanarujikorn@manulifeam.com','oaumeh@armstrong.com','pablo.urban@bicworld.com','e.phua@warwick.ac.uk','mompati.sebetlela@laureltondiamonds.com','edilene.villano@covidien.com','buh@haierrussia.ru','shawnfoo@r1international.com','dmoratto@quantaservices.com','d.reed@israeldiscountbank.co.uk','lijun@sunhu.com.cn','michael.b.jorgensen@nordea.com','junsoo.park@siemens.com','hideki_sakairi@sg.smbc.co.jp','yashiro8_t@i.softbank.jp','priyanka.agarwal01@ge.com','miaohuan.pan@grand-metal.com','nicolas.barthelemy@parker.com','kitikorn.kum@bbl.co.th','hiepnt@vpb.com.vn','lance.graham@erstegroup.com','carlos.nogueira@cnfinancial.com.br','mpiccirillo@iccrea.bcc.it','rafael.palazzi@saomartinho.com.br','daisy.farrell@yahoo.co.uk','anand.nesarikar@jsw.in','teh@cosmos.sg','daniel.riveira@mizuhocbus.com','teoe@bok.or.kr','zy@jinkosolar.com','nakamura@cht.canon.co.th','peter.schaffner@credit-suisse.com','david.smart@hient.co.uk','mehmetsunay@westfordtrade.com','mark.chesterman@ig.com','renjun.wang@icbclondon.com','eferreira@sinochembrasil.com','daniel.schmid@sbb.ch','mgreco@qfrcapital.com','youjin.choi@shinhan.com','marta.mierzejewska@partnertech.pl','harelel@mdb.co.il','ccaballero@prima.com.pe','jrubio@mail.landbank.com','marko.avramovic@btgpactual.com','pavel.laurencik@cabotcorp.com','biuro@dp-stal.eu','helen.chiu@capitalone.com','theo@socialeco.world','kris.tepaa@downergroup.com','soheil.ranjbar@yahoo.com','igorcivkar@yahoo.com','neil.kinnon@paymasterinternational.com','s.cousins@advroll.com','kelly.chen@astrazeneca.com','ivyyang@teczs.com','rlpimentel@banreservas.com','atiq.jindani@maersk.com','elaine.hughes@centerragold.com','jvarela@bsc.com.do','sariderelis@ruderfinn.com','asif.asmi@paksuzuki.com.pk','alessandro.daniele.corti@citi.com','jbrabazo@aexp.com','ryan.jung@dwsec.com','sam.chong@atmel.com','gflores@intercorp.com.pe','anishkumar@tycoint.com','bmutin@cfm.mc','petra.dobrick@schott.com','michal_knosala@ssls.pl','matthew.chua@csamam.com.sg','viniciush@suzano.com.br','kb_song@choishin.com','cinthia.santos@schneider-electric.com','cuongnt6@techcombank.com.vn','kevin.sheehan@careerbuilder.com','abatra@lear.com','bernard.delatte@optima.be','cheesin.koh@thirdrockgrp.com','william@sop.com.my','junaid.siddiqui@unilever.com','nivesh.ritoo@cim.mu','kally.virdee@wolverhampton.gov.uk','mostafa.elmadbouly@saipem.com','bfa@desmi.com','sl@hobbs.co.uk','tyler.tucci@tcw.com','wt.yat@campbell.com.sg','andrew.mcdougall@btgpactual.com','murray.davis@mebank.com.au','kieran.laird@market-securities.com','ivan@tcbank.com.tw','molly.duffy@csfb.com','alexander-cidreira@oi.com.br','awojtonik@rjobrien.com','bryan.baldrey@firstratefx.com','sushmita_das@ushamartin.co.in','s.alqatu@migbank.com','yangguang@century-bright.com.hk','hayoon.lee@barclays.com','shell@greatbrightrl.com','thuongtth2@vpb.com.vn','sien.ye@seb.se','haengok.jeon@bnpparibas.com','marie.guillemot@exane.com','nmkhairul@asianfinancebank.com','jason.saeter@nuplex.com','kassia@ebpbrasil.com','bolivar.diaz@btgpactual.com','chizhevskiy@gw.tander.ru','ivana.vytiskova@tevapharm.cz','maria.makeeva@alpla.com','muthu@kogktv.com','houda.elouardini@hp.com','ccakmak@garantifactoring.com','marian.sulko@volksbank.sk','hermandewaal@woolworths.co.za','vivek.goel@aspetindia.com','judywong@chengtong.co','lmosenyi@africanbarrickgold.com','madhavil@titan.co.in','sean.shen@danone.com','grace.alvaro@gm.com','eric.lee@unicredit.eu','mbosamiya@firestardiamond.com','subhransu.pariksha@gapcogroup.com','colin.goh@cimb.com','fergus.may@tdwcs.co.uk','ktychonick@astraoil.com','m.kolo@delramknight.com','mai.phi@samsung.com','aidand@wilmaroils.co.za','h.imourig@teleperformance.com','jessica.than@seb.se','nicola@profit-loss.com','keyuric@nedbankcapital.co.za','marcio.demarchi@mueller.ind.br','h1150750@wu.ac.at','juwhan.jung@dwsec.com','simon.appleby@nisbets.co.uk','namfon.mak@tmbbank.com','raul.gonzalez@valerecapital.com','joyce.chan@pggm.nl','masalski@superfund.com','elena.deleidi@stockwellgroup.com','swaddell@talisman-energy.com','in.keun.kim@rbs.com','steve.clarke@friendslife.co.uk','kyle.hodes@sitel.com','ed3@americancentury.com','ian.turnbull@tegel.co.nz','julieyu@ibt.com.tw','john-p.collins@db.com','vishal@vintagebullion.com','ales.kolman@unipetrol.cz','jessie.koh@pacnet.com','jimmyk@metatech.com.hk','lisa.tao@chinatrust.com.tw','masato.suzuki-a@mizuho-tb.co.jp','jawaid.abdulla@nbad.ae','batista.joao@knauf.com.br','john@langley42.freeserve.co.uk','georgina.polessi@huawei.com','michael.struffert@ristic.com','dennis.li@glorysky.ws','gabriela.jungwirthova@emerson.com','info@tlsoman.com','ganyeesheng@kmi.co.id','kerem.kudug@mm-karton.com','karan.sharma@jashanmal.ae','shaun.furlong@technetix.com','laichee.tang@pwc.ca','alicewong@eif.com.hk','lena@ger.com.sg','jinhan.song@samsung.com','van.le@shell.com','jonas.almqvist@seb.se','fangjw@bankcomm.com','andy.droste@kohler.com','agnieszka.markiel@husqvarnagroup.com','julia.jorge@btgpactual.com','urs.bernegger@vontobel.ch','anees.kas@bbraun.com','ntoshniwal@tata.com','quynhdao@abbank.vn','jinu.jang@mizuho-cb.com','icollado@actinver.com.mx','calvinchiang@ccp.com.tw','leekianglip@lionglobalinvestors.com','xcallapina@belcorp.biz','weiqj@qwtradingsystem.com','takano_toshiaki@rn.smbc.co.jp','liujixing@hrbb.com.cn','llbritko@globallink.com','lionel.goepfert@creditfoncier.fr','akhawar@engro.com','brandon.marshall@sasfin.com','imduda@bayport.co.tz','paul_mallery@fmi.com','kursat.gemalmaz@socotab.com','csciametta@gaingtx.com','dbeleza@jgp.com.br','andreea.predescu@automobilebavaria.ro','tim.vanraemdonck@lyondellbasell.com','issa.qat@wdfg.com','sangjik.han@meritz.co.kr','chat.dizon@nxp.com','nick.clary@neptune-im.co.uk','ewee@mks.ch','mhammer@tgw.ch','frederic.peytremann@alcoa.com','olga.chueva@bmw.com','sean.canning@claires.co.uk','lee.naisbitt@rmb.co.za','salim.safta@peugeot.com','sk1074@york.ac.uk','paddyc@kenwood-sa.co.za','weiwei.tan@internationalsos.com','nsatomi@nkktubes.co.jp','ha_caglayan@yahoo.com','rdeschaetzen@celio.com','pankaj_sinha70@yahoo.com','ayanda.sisulu@rmb.co.za','peterlustig@web.de','abr@jebsenassets.no','mody.dia@money-express.com','nbunney@vcmllp.com','renata.honorato@kiongroup.com','lkwasnowskiold!@dbrs.com','krzysztof.wojtunn@rnjsa.com.pl','girauds@ren.com.tr','volokitina_na@oilrusi.ru','sinhpt@lienvietpostbank.com.vn','cesar.fallacara@nike.com','m_tra@mscbank.com','meknesuk@yahoo.co.uk','dchan@yancoal.com.au','m.zebeljan@procreditbank.rs','aleksandrs.papenkovs@seb.lv','alex.wan@fbu.com'
)

/*
	Delete newsletters
*/

delete 
from [NewCentralUsers].[dbo].[Newsletters]
where nIndex in (
	select nIndex from [NewCentralUsers].[dbo].[Newsletters_Backup]
)



/*
	Drop backup in case of success
*/
/*

drop table if exists [NewCentralUsers].[dbo].[Newsletters_Backup]

*/



/*
	Restore backup
*/
/*


SET IDENTITY_INSERT [NewCentralUsers].[dbo].[Newsletters] ON

insert into [NewCentralUsers].[dbo].[Newsletters]
([nIndex], [nPublication], [nUID], [nNewsletterID], [nPlain], [nHTML], [nCreationDate], [nUpdated])
select [nIndex], [nPublication], [nUID], [nNewsletterID], [nPlain], [nHTML], [nCreationDate], [nUpdated]
from [NewCentralUsers].[dbo].[Newsletters_Backup]

SET IDENTITY_INSERT [NewCentralUsers].[dbo].[Newsletters] OFF

*/