USE [{DB_NAME}]

SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
SET ANSI_PADDING, ANSI_NULLS, QUOTED_IDENTIFIER, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, XACT_ABORT ON

IF NOT EXISTS 
    (SELECT name  
     FROM master.sys.server_principals
     WHERE name = '{VIRTUAL_ACCOUNT}')
BEGIN
    CREATE LOGIN [{VIRTUAL_ACCOUNT}] FROM WINDOWS;
END

IF NOT EXISTS
    (SELECT name
     FROM sys.database_principals
     WHERE name = '{VIRTUAL_ACCOUNT}')
BEGIN
	IF EXISTS (select * from sys.database_principals where sid = SUSER_SID(N'{VIRTUAL_ACCOUNT}'))
	BEGIN
		ALTER AUTHORIZATION ON DATABASE::[{DB_NAME}] TO [sa]
	END
	
    CREATE USER [{VIRTUAL_ACCOUNT}] FOR LOGIN [{VIRTUAL_ACCOUNT}]
END

EXEC sp_addrolemember N'db_owner', N'{VIRTUAL_ACCOUNT}'

