<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Authentication configuration -->
    <!-- change of salt size won't broke existed passwords -->
    <add key="saltLength" value="32" />
    <add key="hashedPwdLength" value="32" />
    <add key="iterationsNum" value="10000" />
  </appSettings>
  <system.web>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="Db.CustomRoleProvider, Db, Version=1.0.0.0, Culture=neutral" connectionStringName="UsersEntities" />
      </providers>
    </roleManager>
    <pages theme="General" />
    <customErrors mode="Off" defaultRedirect="Error.aspx" />
    <sessionState timeout="15" />
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" timeout="4320" slidingExpiration="true" />
    </authentication>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
  </system.web>
  <connectionStrings>
    <add name="StatixConnectionString" connectionString="data source=.;Initial Catalog=StatixOld;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="StatixEntities" connectionString="metadata=res://*/Statix.csdl|res://*/Statix.ssdl|res://*/Statix.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StatixOld;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
    </modules>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="StaticRewrites">
          <add key="/exchanges" value="/StatixAppExchanges/List.aspx" />
          <add key="/members" value="/StatixAppMembers/List.aspx" />
          <add key="/holidays" value="/StatixAppHolidays/List.aspx" />
          <add key="/contracts" value="/StatixAppContracts/List.aspx" />
          <add key="/global-diary" value="/Diary.aspx" />
          <add key="/glossary" value="/StatixAppGlossaries/List.aspx" />
          <add key="/login" value="/Login.aspx" />
          <add key="/register" value="/Register.aspx" />
          <add key="/about-statix" value="/Default.aspx" />
          <add key="/privacy-policy" value="/Policy.aspx" />
          <add key="/contact-us" value="/Contacts.aspx" />
          <add key="/contracts-by-type" value="/ContractsByType.aspx" />
          <add key="/contracts/new" value="/StatixAppContracts/List.aspx?new=1" />
          <add key="/cookies" value="/Cookies.aspx" />
          <add key="/Cookies.html" value="/Cookies.aspx" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Contracts View Popup" stopProcessing="true">
          <match url="popup/(.*)/(.*)/(.*)" />
          <action type="Rewrite" url="/StatixApp{UrlEncode:{R:1}}/Popup.aspx?ExchangeCode={UrlEncode:{R:2}}&amp;ContractNumber={UrlEncode:{R:3}}" logRewrittenUrl="false" appendQueryString="false" />
        </rule>
        <rule name="ContractSpec Details Popup" stopProcessing="true">
          <match url="details/contractspecs/(.*)/(.*)" />
          <action type="Rewrite" url="/StatixAppContractSpecs/Details.aspx?ExchangeCode={UrlEncode:{R:1}}&amp;ContractNumber={UrlEncode:{R:2}}" logRewrittenUrl="false" appendQueryString="false" />
        </rule>
        <rule name="Exchange Details Popup" stopProcessing="true">
          <match url="details/exchanges/(.*)" />
          <action type="Rewrite" url="/StatixAppExchanges/Details.aspx?ExchangeCode={UrlEncode:{R:1}}" logRewrittenUrl="false" appendQueryString="false" />
        </rule>
        <rule name="Member Details Popup" stopProcessing="true">
          <match url="details/members/(.*)" />
          <action type="Rewrite" url="/StatixAppMembers/Details.aspx?MemberID={UrlEncode:{R:1}}" logRewrittenUrl="false" appendQueryString="false" />
        </rule>
        <rule name="Contracts By Type" stopProcessing="true">
          <match url="view/(.*)/([a-zA-Z]{1})$" />
          <action type="Rewrite" url="/StatixAppContracts/List.aspx?ContractType={UrlEncode:{R:2}}" logRewrittenUrl="false" appendQueryString="false" />
        </rule>
        <rule name="Exchanges Links" stopProcessing="true">
          <match url="view/(.*)/(.*)" />
          <action type="Rewrite" url="/StatixApp{UrlEncode:{R:1}}/List.aspx?ExchangeCode={UrlEncode:{R:2}}" logRewrittenUrl="false" appendQueryString="false" />
        </rule>
        <rule name="Mapped URLs">
          <match url="(.*)" />
          <conditions>
            <add input="{StaticRewrites:{PATH_INFO}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="{C:1}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="WWW Server" areas="Rewrite" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="200-500" />
        </add>
      </traceFailedRequests>
    </tracing>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
  <elmah>
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="StatixConnectionString" applicationName="Statix" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="SharedLibrary.Elmah.ErrorLogPageFactoryMultiApp, SharedLibrary, Version=1.0.0.0, Culture=neutral" />
      </httpHandlers>
      <authorization>
        <allow roles="Admin,ResourceEditor" />
        <deny users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="SharedLibrary.Elmah.ErrorLogPageFactoryMultiApp, SharedLibrary, Version=1.0.0.0, Culture=neutral" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Policy.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Contacts.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Cookies.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>