/* Go crazy with your own styles here */


.salesforce-iframe {
    border: 0;
    width: 100%;
}

.salesforce-panel {
    border: 0px solid #E2DBD9;
    margin-top: 5px;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin: 10px 0;
    padding: 10px;
    border: solid 1px red;
    display: block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.btn, .btn.focus, .btn:active.focus {
    outline: 0 none !important;
}

.td-alert-info {
    border: solid 1px #BCE8F1;
    background-color: #D9EDF7;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #31708F;
    padding: 15px;
    margin-bottom: 13px;
}

.td-alert-error {
    border: solid 1px #ebccd1;
    background-color: #f2dede;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #a94442;
    padding: 15px;
    margin-bottom: 13px;
}

.request-deserialize {
    border: solid 1px lightgray;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 3px;
    margin: 5px 5px 5px 0;
}

.request-margin-bottom {
    margin-bottom: 0;
}

.request-name {
    font-weight: bold;
    display: inline-block;
}

.request-value {
    width: 100%;
    display: inline-block;
}

.vertical-scroll {
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 3px;
}

.td-tab {
    height: 31px !important;
    padding-top: 5px !important;
    cursor: pointer !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.td-textarea {
    height: 164px !important;
}

.error-panel {
    width: 95%;
    margin-right: 20px;
    margin-left: 15px;
    position: absolute;
    bottom: 20px;
}

.error-panel-close-btn {
    color: black;
    position: relative;
    left: 0px;
}

.field-validation-error {
    color: darkred;
}

.custom-color-folder {
    color: burlywood;
}

.custom-color-file {
    color: lightsteelblue;
}

.attachments {
    border: 1px solid lightgray;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.edit-in-place .form-control {
    width: 330px !important;
}

.form-control-addwidth {
    width: 100% !important;
}

.edit-in-place select {
    width: 330px !important;
}

.form-group label.error {
    border: none;
    padding: 0;
    font-weight: normal;
}
