<?xml version="1.0"?>
<SolutionConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TargetDeployment Name="Third Dimension Explorer">
    <TargetInstall>C:\ThirdDimensionExplorer\plugins\BSLS</TargetInstall>
    <Files>
      <File Name="ThirdDimension.BusinessLayer.BarcodeSeries.dll" Target="" Project="BusinessLayer.csproj" />
      <File Name="ThirdDimension.Explorer.BarcodeSeries.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.Controls.BarcodeSeries.dll" Target="" Project="Controls.csproj" />
      <File Name="ThirdDimension.Utils.BarcodeSeries.dll" Target="" Project="Utils.csproj" />
      <File Name="SeriesManagerWizard.3dxp" Target="" Project="Plugins.csproj" />
      <File Name="SimpleGRD.dll" Target="" Project="Controls.csproj" />
      <File Name="ThirdDimension.Data.BarcodeSeries.dll" Target="" Project="DataLayer.csproj" />
      <File Name="ThirdDimension.Data.BarcodeSeries.dll.config" Target="" Project="DataLayer.csproj" />
      <File Name="LabelPrintingWizard.3dxp" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.Explorer.BarcodeSeries.dll.config" Target="" Project="Plugins.csproj" />
      <File Name="package.xml" Target="" Project="Plugins.csproj" />
      <File Name="EFPocoAdapter.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.ArmsPoco.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.ArmsProvider.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.ArmsAdapter.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.ArmsProvider.dll.config" Target="" Project="Plugins.csproj" />
      <File Name="Devart.Data.dll" Target="" Project="Plugins.csproj" />
      <File Name="Devart.Data.Oracle.Design.dll" Target="" Project="Plugins.csproj" />
      <File Name="Devart.Data.Oracle.dll" Target="" Project="Plugins.csproj" />
      <File Name="Devart.Data.Oracle.Entity.dll" Target="" Project="Plugins.csproj" />
      <File Name="Devart.Data.Oracle.Vs.dll" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.EnterpriseLibrary.Common.dll" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.EnterpriseLibrary.Common.xml" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.dll" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.xml" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.xml" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.EnterpriseLibrary.Logging.dll" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.EnterpriseLibrary.Logging.xml" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.ObjectBuilder2.dll" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.Unity.Configuration.dll" Target="" Project="Plugins.csproj" />
      <File Name="Microsoft.Practices.Unity.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.LimsCore.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.LimsEntityPoco.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.LimsEntityPocoAdapter.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.LimsEntityProvider.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.LimsInterface.dll" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.LimsCore.dll.config" Target="" Project="Plugins.csproj" />
      <File Name="ThirdDimension.LimsEntityProvider.dll.config" Target="" Project="Plugins.csproj" />
      <File Name="AMS.Profile.dll" Target="" Project="Plugins.csproj" />
    </Files>
  </TargetDeployment>
</SolutionConfiguration>