<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="checkIP" value="false" />
    
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="owin:AutomaticAppStartup" value="false" />
    <!-- Authentication configuration -->
    <!-- change of salt size won't broke existed passwords -->
    <add key="saltLength" value="32"/>
    <add key="hashedPwdLength" value="32"/>
    <add key="iterationsNum" value="10000"/>
    <add key="connectionStringCipherKey" value="VN6J87*LfzcR*CBmzvF4K6zg|-w2R+l|%YC|B5fR^ARCvV9n8T7IVEk3Tiqz"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="TradeDataAPI.ExportDataService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="TradeDataAPI.IExportDataService"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding>
          <!-- https -->
          <!--<security mode="Transport"/>-->

          <!-- http -->
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <!--  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="traces.svclog" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="db" connectionString="Server=.;Database=TRADEdataAPI;Timeout=180;Integrated Security=SSPI;"/>
    <add name="UsersEntities" connectionString="metadata=res://*/DataContext.UsersModel.csdl|res://*/DataContext.UsersModel.ssdl|res://*/DataContext.UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Users;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UsersConnectionString" connectionString="data source=.;Timeout=180;Initial Catalog=Users;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <compilation targetFramework="4.5"/>
  </system.web>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="UsersConnectionString" applicationName="WebAPI"/>
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>
</configuration>