<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <!-- Authentication configuration -->
    <!-- change of salt size won't broke existed passwords -->
    <add key="saltLength" value="32"/>
    <add key="hashedPwdLength" value="32"/>
    <add key="iterationsNum" value="10000"/>
    <add key="mailAttachmentsShare" value="E:\SqlServerShare"/>
    <add key="cacheExpirationTime" value="120" />
  </appSettings>
  <connectionStrings>
    <add name="UsersConnectionString" connectionString="data source=.;Initial Catalog=Users;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="UsersEntities" connectionString="metadata=res://*/DataContext.UsersModel.csdl|res://*/DataContext.UsersModel.ssdl|res://*/DataContext.UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Users;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="db" connectionString="Server=.;Database=TRADEdataAPI;Integrated Security=SSPI;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="UsersDb.Authentication.CustomRoleProvider, UsersDb" connectionStringName="UsersEntities"/>
      </providers>
    </roleManager>
    <customErrors mode="Off" defaultRedirect="Error.aspx"/>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <authentication mode="Forms">
      <!-- 3 days -->
      <forms loginUrl="~/Login.aspx" timeout="4320" slidingExpiration="true"/>
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <httpRuntime targetFramework="4.5.1"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <sessionState timeout="15"/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="StaticRewrites">
          <add key="/" value="/Default.aspx"/>
          <add key="/trial" value="/Pages/Trial.aspx"/>
          <add key="/account" value="/Pages/Tracked/0/account.aspx"/>
          <add key="/statistics" value="/Pages/Tracked/1/statistics.aspx"/>
          <add key="/subscription" value="/Pages/Tracked/1/subscription.aspx"/>
          <add key="/search" value="/Pages/Tracked/2/search.aspx"/>
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Verify email" stopProcessing="true">
          <match url="verifyAccount"/>
          <action type="Rewrite" url="/Pages/VerifyEmail.aspx" logRewrittenUrl="false" appendQueryString="true"/>
        </rule>
        <rule name="Series link" stopProcessing="true">
          <match url="series/(.*)/(.*)"/>
          <action type="Rewrite" url="/Pages/Details.aspx?ExchangeCode={UrlEncode:{R:1}}&amp;ContractNumber={UrlEncode:{R:2}}" logRewrittenUrl="false" appendQueryString="false"/>
        </rule>
        <rule name="Mapped URLs">
          <match url="(.*)"/>
          <conditions>
            <add input="{StaticRewrites:{PATH_INFO}}" pattern="(.+)"/>
          </conditions>
          <action type="Rewrite" url="{C:1}" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <elmah>
    <security allowRemoteAccess="true"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="UsersConnectionString" applicationName="CustomersUI"/>
  </elmah>

  <location path="Pages/Details.aspx">
    <system.web>
      <authorization>
        <deny roles="Trial User"/>
      </authorization>
    </system.web>
  </location>

  <location path="Pages/VerifyEmail.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>

</configuration>
