USE [Spans]
GO
/****** Object:  ForeignKey [FK_ftp_FilesList_ftp_FileListingBatch]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ftp_FilesList_ftp_FileListingBatch]') AND parent_object_id = OBJECT_ID(N'[dbo].[ftp_FilesLists]'))
ALTER TABLE [dbo].[ftp_FilesLists] DROP CONSTRAINT [FK_ftp_FilesList_ftp_FileListingBatch]
GO
/****** Object:  Table [dbo].[ftp_FilesLists]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ftp_FilesList_ftp_FileListingBatch]') AND parent_object_id = OBJECT_ID(N'[dbo].[ftp_FilesLists]'))
ALTER TABLE [dbo].[ftp_FilesLists] DROP CONSTRAINT [FK_ftp_FilesList_ftp_FileListingBatch]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ftp_FilesLists]') AND type in (N'U'))
DROP TABLE [dbo].[ftp_FilesLists]
GO
/****** Object:  Table [dbo].[paFile]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__ftp_Fi__Uploa__1CFE9F3D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[paFile] DROP CONSTRAINT [DF__ftp_Fi__Uploa__1CFE9F3D]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[paFile]') AND type in (N'U'))
DROP TABLE [dbo].[paFile]
GO
/****** Object:  Table [dbo].[import_Error]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_import_Error_UpdatedUtc]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[import_Error] DROP CONSTRAINT [DF_import_Error_UpdatedUtc]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[import_Error]') AND type in (N'U'))
DROP TABLE [dbo].[import_Error]
GO
/****** Object:  Table [dbo].[import_Log]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__import_Fi__Uploa__1CFE9F3D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[import_Log] DROP CONSTRAINT [DF__import_Fi__Uploa__1CFE9F3D]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[import_Log]') AND type in (N'U'))
DROP TABLE [dbo].[import_Log]
GO
/****** Object:  StoredProcedure [dbo].[sp_FindMissedElements]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_FindMissedElements]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_FindMissedElements]
GO
/****** Object:  Table [dbo].[cfg_ExtraFields]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cfg_ExtraFields]') AND type in (N'U'))
DROP TABLE [dbo].[cfg_ExtraFields]
GO
/****** Object:  Table [dbo].[cfg_RecordsDefinitions]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cfg_RecordsDefinitions]') AND type in (N'U'))
DROP TABLE [dbo].[cfg_RecordsDefinitions]
GO
/****** Object:  Table [dbo].[cfg_RecordTableName]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cfg_RecordTableName]') AND type in (N'U'))
DROP TABLE [dbo].[cfg_RecordTableName]
GO
/****** Object:  Table [dbo].[cfg_Relationships]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cfg_Relationships]') AND type in (N'U'))
DROP TABLE [dbo].[cfg_Relationships]
GO
/****** Object:  Table [dbo].[ftp_Batches]    Script Date: 07/29/2015 11:48:00 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ftp_FileListingBatch_CreationDateUTC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ftp_Batches] DROP CONSTRAINT [DF_ftp_FileListingBatch_CreationDateUTC]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ftp_Batches]') AND type in (N'U'))
DROP TABLE [dbo].[ftp_Batches]
GO
/****** Object:  Table [dbo].[ftp_Batches]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ftp_Batches]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ftp_Batches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](2000) NOT NULL,
	[SearchFromDate] [datetime] NULL,
	[BatchCreatedDateUTC] [datetime] NOT NULL CONSTRAINT [DF_ftp_FileListingBatch_CreationDateUTC]  DEFAULT (sysutcdatetime()),
 CONSTRAINT [PK_ftp_FileListingBatch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[cfg_Relationships]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cfg_Relationships]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[cfg_Relationships](
	[RecordId] [nvarchar](2) NOT NULL,
	[ParentRecordId] [nvarchar](2) NOT NULL,
	[FileFormat] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_cfg_Relationships_1] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC,
	[ParentRecordId] ASC,
	[FileFormat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[cfg_Relationships] ([RecordId], [ParentRecordId], [FileFormat]) VALUES (N'0', N'-1', N'U2')
INSERT [dbo].[cfg_Relationships] ([RecordId], [ParentRecordId], [FileFormat]) VALUES (N'0', N'-1', N'UP')
INSERT [dbo].[cfg_Relationships] ([RecordId], [ParentRecordId], [FileFormat]) VALUES (N'1', N'0', N'U2')
/****** Object:  Table [dbo].[cfg_RecordTableName]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cfg_RecordTableName]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[cfg_RecordTableName](
	[RecordId] [nvarchar](2) NOT NULL,
	[FileFormat] [nvarchar](5) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_cfg_RecordTableNames] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC,
	[FileFormat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[cfg_RecordTableName] ([RecordId], [FileFormat], [TableName]) VALUES (N'0', N'U2', N'pa2_Rec0')
INSERT [dbo].[cfg_RecordTableName] ([RecordId], [FileFormat], [TableName]) VALUES (N'0', N'UP', N'pa3_Rec0')
INSERT [dbo].[cfg_RecordTableName] ([RecordId], [FileFormat], [TableName]) VALUES (N'1', N'U2', N'pa2_Rec1')
/****** Object:  Table [dbo].[cfg_RecordsDefinitions]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cfg_RecordsDefinitions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[cfg_RecordsDefinitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[_RecordType] [nvarchar](2) NOT NULL,
	[_FieldLength] [int] NOT NULL,
	[_StartPosition] [int] NOT NULL,
	[Definition] [nvarchar](12) NULL,
	[ValueFormat] [nvarchar](15) NULL,
	[_DateFormat] [nvarchar](25) NULL,
	[_ColumnName] [nvarchar](50) NULL,
	[_DataType] [nvarchar](20) NOT NULL,
	[_DefaultValue] [nvarchar](50) NULL,
	[Description] [nvarchar](2500) NULL,
	[_Method] [nvarchar](2) NULL,
	[_FileFormat] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK__cfg_Risk__3214EC074ABA7CF5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[cfg_RecordsDefinitions] ON
INSERT [dbo].[cfg_RecordsDefinitions] ([Id], [_RecordType], [_FieldLength], [_StartPosition], [Definition], [ValueFormat], [_DateFormat], [_ColumnName], [_DataType], [_DefaultValue], [Description], [_Method], [_FileFormat]) VALUES (1, N'3', 2, 1, N'AN', N'X', NULL, N'RecordId', N'nvarchar(2)', NULL, N'Record ID - "3 "', NULL, N'U2')
INSERT [dbo].[cfg_RecordsDefinitions] ([Id], [_RecordType], [_FieldLength], [_StartPosition], [Definition], [ValueFormat], [_DateFormat], [_ColumnName], [_DataType], [_DefaultValue], [Description], [_Method], [_FileFormat]) VALUES (2, N'3', 6, 3, N'AN', N'X(6)', NULL, N'CCCode', N'nvarchar(6)', NULL, N'Combined Commodity Code', NULL, N'U2')
INSERT [dbo].[cfg_RecordsDefinitions] ([Id], [_RecordType], [_FieldLength], [_StartPosition], [Definition], [ValueFormat], [_DateFormat], [_ColumnName], [_DataType], [_DefaultValue], [Description], [_Method], [_FileFormat]) VALUES (3, N'3', 2, 9, N'AN', N'X(2)', NULL, N'MethodCode', N'nvarchar(2)', NULL, N'Intracommodity (Intermonth) Spread Charge Method Code', NULL, N'U2')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
SET IDENTITY_INSERT [dbo].[cfg_RecordsDefinitions] OFF
/****** Object:  Table [dbo].[cfg_ExtraFields]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cfg_ExtraFields]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[cfg_ExtraFields](
	[RecordId] [nvarchar](2) NOT NULL,
	[FileFormat] [nvarchar](5) NOT NULL,
	[FieldName] [nvarchar](50) NOT NULL,
	[FieldType] [nvarchar](50) NOT NULL,
	[Description] [nchar](300) NULL,
 CONSTRAINT [PK_cfg_ExtraFields] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC,
	[FileFormat] ASC,
	[FieldName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[cfg_ExtraFields] ([RecordId], [FileFormat], [FieldName], [FieldType], [Description]) VALUES (N'0', N'U2', N'_FileId', N'int', NULL)
INSERT [dbo].[cfg_ExtraFields] ([RecordId], [FileFormat], [FieldName], [FieldType], [Description]) VALUES (N'0', N'U2', N'_LineNumber', N'int', NULL)
INSERT [dbo].[cfg_ExtraFields] ([RecordId], [FileFormat], [FieldName], [FieldType], [Description]) VALUES (N'0', N'U2', N'_ParentLineNumber', N'int', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  StoredProcedure [dbo].[sp_FindMissedElements]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_FindMissedElements]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[sp_FindMissedElements]
as
begin
	declare @tableName nvarchar(100);
	declare @rowCnt bit;
	declare @query nvarchar(1000);
	declare @param nvarchar(100);
	declare @tbl table(TableName nvarchar(128))

	DECLARE CUR_TABLE CURSOR FOR
		SELECT ''['' + table_catalog + ''].['' + table_schema + ''].['' + table_name + '']'' FROM INFORMATION_SCHEMA.Columns
		WHERE COLUMN_NAME = ''MissingElements''

	OPEN CUR_TABLE
	FETCH NEXT FROM CUR_TABLE 
	INTO @tableName

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @query = ''SET @rowCnt = (select case when (select count(*) from '' + @tableName + '' where MissingElements is not null) > 0 then 1 else 0 end)''
		SET @param = ''@rowCnt bit output''

		EXECUTE SP_EXECUTESQL @query, @param, @rowCnt = @rowCnt OUTPUT
		IF @rowCnt > 0
		BEGIN
			INSERT INTO @tbl VALUES(@tableName)
		END

		FETCH NEXT FROM CUR_TABLE
		INTO @tableName;
	END;

	CLOSE CUR_TABLE
	DEALLOCATE CUR_TABLE

	SELECT * FROM @tbl
end


' 
END
GO
/****** Object:  Table [dbo].[import_Log]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[import_Log]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[import_Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](250) NULL,
	[TriggerName] [nvarchar](250) NULL,
	[Trace] [nvarchar](max) NULL,
	[StartDateUtc] [datetime] NOT NULL CONSTRAINT [DF__import_Fi__Uploa__1CFE9F3D]  DEFAULT (sysutcdatetime()),
	[EndDateUtc] [datetime] NULL,
 CONSTRAINT [PK_import_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[import_Error]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[import_Error]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[import_Error](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](2000) NULL,
	[Information] [nvarchar](max) NULL,
	[UpdatedUtc] [datetime] NOT NULL CONSTRAINT [DF_import_Error_UpdatedUtc]  DEFAULT (sysutcdatetime()),
 CONSTRAINT [PK_import_Error] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[paFile]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[paFile]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[paFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NULL,
	[Filename] [nvarchar](2000) NULL,
	[StartDateUtc] [datetime] NOT NULL CONSTRAINT [DF__ftp_Fi__Uploa__1CFE9F3D]  DEFAULT (sysutcdatetime()),
 CONSTRAINT [PK_paFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ftp_FilesLists]    Script Date: 07/29/2015 11:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ftp_FilesLists]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ftp_FilesLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NOT NULL,
	[Path] [nvarchar](2048) NULL,
	[Url] [nvarchar](2048) NOT NULL,
	[FileDate] [datetime] NOT NULL,
	[FileSize] [bigint] NOT NULL,
 CONSTRAINT [PK_ftp_FilesList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  ForeignKey [FK_ftp_FilesList_ftp_FileListingBatch]    Script Date: 07/29/2015 11:48:00 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ftp_FilesList_ftp_FileListingBatch]') AND parent_object_id = OBJECT_ID(N'[dbo].[ftp_FilesLists]'))
ALTER TABLE [dbo].[ftp_FilesLists]  WITH CHECK ADD  CONSTRAINT [FK_ftp_FilesList_ftp_FileListingBatch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[ftp_Batches] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ftp_FilesList_ftp_FileListingBatch]') AND parent_object_id = OBJECT_ID(N'[dbo].[ftp_FilesLists]'))
ALTER TABLE [dbo].[ftp_FilesLists] CHECK CONSTRAINT [FK_ftp_FilesList_ftp_FileListingBatch]
GO
