<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <!-- User application and configured property settings go here.-->
      <!-- Example: <add key="settingName" value="settingValue"/> -->
      <add key="ServiceName" value="Jnj.BslsService 1.9" />
      <add key="LogName" value="BslsService" />
      <add key="oracleNlsLang" value="_.WE8MSWIN1252"/>
      <!-- FIRST 8 CHARS MUST BE UNIQUE, use port number. -->

      <!-- The Event log on the network -->
      <add key="logServer" value="http://rndusddabcd1.prdus.na.jnj.com:8080/JnjLogUri" />
      <add key="logServerDebug" value="http://localhost:8000/JnjLogUri" />
      <add key="runDebugger" value="yes" />
      <add key="syncTime" value="02:00" />
   </appSettings>
  <connectionStrings>
    <add name="InventoryConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=itsusraabcdop.jnj.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=ABCDPRA)));User Id=cims_editor_user;Password=PiMyKTcvQENZZg==;Pooling=true;Connection Timeout=120;"/>
    <!--<add name="InventoryConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=itsusmpabcdod1.jnj.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=ABCDDRA)));User Id=cims_editor_user;Password=OyojPDsvQUhCYg==;Pooling=true;Connection Timeout=120;"/>-->
    <add name="SeriesConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=itsusraabcdop.jnj.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=ABCDPRA)));User Id=series_user_g;Password=EhYWGggFGEFJSF5h;Pooling=true;Connection Timeout=120;"/>
    <!--<add name="SeriesConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=itsusmpabcdod1.jnj.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=ABCDDRA)));User Id=series_user_g;Password=ARQXHAoCEFRAW1R6;Pooling=true;Connection Timeout=120;"/>-->
  </connectionStrings>

  <system.web>
      <compilation debug="true" />
   </system.web>

   <system.serviceModel>
      <services>
         <service name="Jnj.ThirdDimension.Service.BarcodeSeries.BslsService" behaviorConfiguration="MetadataSupport">
            <host>
               <baseAddresses>
                  <!--<add baseAddress="http://localhost:8090/BslsService" />-->
                  <add baseAddress="net.tcp://localhost:8091/BslsService" />
                  <!--<add baseAddress="net.pipe://localhost/"/>-->
               </baseAddresses>
            </host>
            <!--<endpoint binding="wsDualHttpBinding" contract="Jnj.ThirdDimension.Service.BarcodeSeries.IBslsService" />-->
            <endpoint binding="netTcpBinding" contract="Jnj.ThirdDimension.Service.BarcodeSeries.IBslsService" />
            <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
            <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange" />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name="MetadataSupport">
               <serviceMetadata httpGetEnabled="false"/>
               <serviceDebug includeExceptionDetailInFaults="True"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
   </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <publisherPolicy apply="no"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>