<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="false"/>
  </runtime>
  <appSettings>
    <add key="FtpMirrorPath" value="e:\cme\ftp\data\"/>
    <add key="SpanSchemaFile" value="Jobs\Sources\spanFile.xsd"/>
    <add key="UI_SpanSchemaFile" value="Sources\spanFile.xsd"/>
    <add key="SpanSqlFile" value="Jobs\Sources\spanFile.sql"/>
    <add key="ConfigSqlFile" value="Jobs\Sources\Config.sql"/>
    <add key="SqlXmlBulkLoadErrorFile" value="Logs\SqLXmlBulkLoadError.xml"/>
    <add key="FtpTimeoutInMilliseconds" value="1200000"/>
    <add key="FtpLogin" value="anonymous"/>
    <add key="FtpPassword" value="anonymous"/>

    <add key="SmtpHost" value="smtp.fowtradedata.com"/>
    <add key="SmtpPort" value="25"/>
    <add key="EnableSsl" value="False"/>
    <add key="Recipient" value="SCoughlan@fowtradedata.com,vitaly.chupaev@arcadia.spb.ru"/>
    <add key="Sender" value="noreply@fowtradedata.com"/>
    <add key="Password" value=""/>

    <!--<add key="SmtpHost" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="EnableSsl" value="True"/>
    <add key="Recipient" value="vitaly.chupaev@arcadia.spb.ru"/>
    <add key="Sender" value="vitaly.chupaev@gmail.com"/>
    <add key="Password" value=""/>-->

    <!--ANSI-->
    <add key="XmlReadEncoding" value="1251"/>

    <!--UTF-8-->
    <add key="XmlWriteEncoding" value="65001"/>

    <add key="SubjectTemplateSuccess" value="[Success] SPAN Quartz Server Report [{0}]"/>
    <add key="SubjectTemplateFailed" value="[Failure] SPAN Quartz Server Report [{0}]"/>
    <add key="BodyTemplate" value="Jobs\EmailTemplates\SyncReport.html"/>
    <add key="ErrorItemTemplate" value="Jobs\EmailTemplates\ErrorItem.html"/>
    <add key="LogItemTemplate" value="Jobs\EmailTemplates\LogItem.html"/>
    <add key="MissedElementsTemplate" value="Jobs\EmailTemplates\MissedElement.html"/>

    <!-- XmlFormats and TextFormats contain extensions in preferred order, first is the most relevant, dot is required  -->
    <add key="XmlFormats" value=".spn;.xml"/>
    <add key="TextFormats" value=".csv;.pa6;.pa5;.pa3;.pa2"/>
    <add key="FtpUtilsUrl" value="ftp://ftp.cmegroup.com/pub/span/util"/>
    <add key="FtpDataUrl" value="ftp://ftp.cmegroup.com/pub/span/data"/>
    <add key="FtpFiles" value="OrgMast.xml;CMEcntrSpecs.xml;MarginRates.xml;product_calendar.xml"/>
    <add key="FtpNumberOfThreads" value="4"/>

    <add key="DefaultStringColumnType" value="nvarchar(2000)"/>
    <add key="FileIdFieldName" value="_FileId"/>
    <add key="LineNumberFieldName" value="_LineNumber"/>
    <add key="ParentLineNumberFieldName" value="_ParentLineNumber"/>
    <add key="ErrorTableName" value="import_Error"/>
    <add key="ImportTablesPrefix" value="import_"/>
    <add key="SpansEntitiesConnStrTemplate" value="metadata=res://*/Db.SpansConfig.csdl|res://*/Db.SpansConfig.ssdl|res://*/Db.SpansConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"/>
    <add key="SetJobStartTimeTemplate" value="update import_Log set StartDateUtc = '{1}' where Id = {0}" />
    <add key="HasConfigTables" value="
      with flags as (
	      SELECT 1 [exists] FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_FindMissedElements]') AND type in (N'P', N'PC')
	      union all
	      SELECT 1 [exists] FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ftp_Batches]') AND type in (N'U')
	      union all
	      SELECT 1 [exists] FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cfg_RecordTableName]') AND type in (N'U')
	      union all
	      SELECT 1 [exists] FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[import_Log]') AND type in (N'U')
      )
      select count(*) 
      from flags"/>
    <add key="HasConfigTablesExpectedCount" value="4"/>

    <add key="HasXmlTables" value="
      with flags as (
	      SELECT 1 [exists] FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spanFile]') AND type in (N'U')
      )
      select count(*) 
      from flags"/>
    <add key="HasXmlTablesExpectedCount" value="1"/>

    <add key="TableCreateSqlFormatOpen" value="
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[{0}]') AND type in (N'U'))
CREATE TABLE [dbo].[{0}] (
"/>
    <add key="TableDropAndCreateSqlFormatOpen" value="
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[{0}]') AND type in (N'U'))
DROP TABLE [dbo].[{0}]
GO
CREATE TABLE [dbo].[{0}] (
"/>
    <add key="TableDropOrCreateSqlFormatClose" value=")
GO
"/>
    <add key="FileMappingInsertSqlFormat" value="insert into dbo.paFile (batchId, filename) output inserted.Id values ({0}, '{1}') "/>
    <add key="MasterRecordIdSqlFormat" value="
IF COL_LENGTH('{0}','{1}') IS NULL
BEGIN
  DELETE FROM dbo.{0}
  ALTER TABLE {0} ADD [{1}] int not null
END
GO
"/>
    <add key="FileIdForMasterTableSqlFormat" value="
IF COL_LENGTH('{0}','{1}') IS NULL         
BEGIN
  DELETE FROM dbo.{0}
  ALTER TABLE {0} ADD [{1}] int identity(1, 1)
  ALTER TABLE {0} ADD CONSTRAINT [PK_{0}] primary key ({1})
END
GO
"/>
    <add key="ReportComplete" value="Complete."/>
    <add key="ReportJobSuccess" value="Success"/>
    <add key="ReportJobFailure" value="Failure"/>
    <add key="ReportFtpListDirectory" value="List "/>
    <add key="ReportFtpDownloadFile" value="Started downloading "/>

    <add key="ReportSkipDownload" value=" already exists, download was skipped"/>
    <add key="ReportCanceled" value="Canceled"/>
    <add key="ReportSyncStart" value="Ready to start, local path: "/>
    <add key="ReportSyncIgnoreFolders" value="Ignore folders: "/>
    <add key="ReportSyncIgnoreFiles" value="Ignore file types: "/>
    <add key="ReportSyncStartTime" value="Files date for download, started from: "/>
    <add key="ReportSyncOverwrite" value="Overwrite files: "/>
    <add key="ReportSyncFilesToDownloadTemplate" value="---------------
Files to download: {0}, total size: {1}
"/>
    <add key="ReportSyncUpToDateTemplate" value="No missing files found for date {0}."/>
    <add key="ReportSyncNoFilesTemplate" value="No files found for date {0}."/>
    <add key="ReportDataStart" value="Ready to start, overwrite data: "/>
    <add key="ReportDataFilesFound" value="Files found: "/>
    <add key="ReportDataFilesToProcess" value="Files to process: "/>
    <add key="ReportDataUploadFile" value="Started uploading "/>
    <add key="ReportDataUnknownFormat" value="No reader or writer was found"/>
    <add key="ReportDataSkipInsertTemplate" value="{0}: already in database"/>
    <add key="ReportDataUnzipFile" value="Unzip "/>
    <add key="ReportDataErrorPrefix" value="Error: "/>
    <add key="ReportXmlCheckerInvalidXmlTemplate" value="Invalid xml in file {0}."/>
    <add key="ReportXmlCheckerReencodeTemplate" value="File was read with '{0}' encoding and overwritten as '{1}'"/>
    <add key="ReportPaUnknownRecord" value="Unknown record type"/>
    <add key="ReportPaUnknownRecordTemplate" value="Unknown record type: '{0}'"/>
    <add key="ReportPaUnknownFileTemplate" value="Unknown file format: '{0}'"/>

    <add key="ReportDocsStartTemplate" value="Ready to start, FTP path: {0}"/>
    <add key="ReportDocsLocalPathTemplate" value="Local path: {0}"/>
    <add key="ReportDocsDownloadListTemplate" value="Download files: {0}"/>
    <add key="ReportDocsStartDownloadFileTemplate" value="Started downloading {0}"/>
    <add key="ReportDocsSqlFileTemplate" value="Sql file: {0}"/>
    <add key="ReportDocsXsltFileTemplate" value="Xslt file: {0}"/>
    <add key="ReportDocsXsdFileTemplate" value="Xsd file: {0}"/>
    <add key="ReportDocsXmlFileTemplate" value="Xml file: {0}"/>
    <add key="ReportDocsXmlTransformedFileTemplate" value="Xml transformed file: {0}"/>

    <add key="ReportDocsStartTransformation" value="Start transformation."/>
    <add key="ReportDocsStartBulkLoad" value="Start bulk load."/>
    <add key="ReportDocsErrorForLogTableTemplate" value="[!] Error processing {0}"/>
    <add key="ReportInstallStart" value="Ready to start installation."/>
    <add key="ReportInstallRunScriptTemplate" value="Script {0}, overwrite: {1}"/>

    <add key="ErrorJobFinishedIncorrectly" value="Job start was not logged and file information was not found."/>

  </appSettings>
  <connectionStrings>
    <add name="SpansDb" connectionString="provider=SQLOLEDB;server=chupaev08e01;database=Spans;Integrated Security=SSPI;"/>
    <add name="SpansDbSmo" connectionString="Integrated Security=SSPI;Persist Security Info=True;Initial Catalog=Spans;Data Source=(local)"/>
    <add name="SpansEntities" connectionString="metadata=res://*/Db.SpansConfig.csdl|res://*/Db.SpansConfig.ssdl|res://*/Db.SpansConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHUPAEV08E01;initial catalog=Spans;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!-- Log4net Logging Setup -->
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="Errors.log"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%n%n%n%d [%t] %-5p %c  - %m%n%n"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <category name="DesktopLogger.Form1">
      <priority value="ALL"/>
    </category>
  </log4net>
</configuration>
