<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Authentication configuration -->
    <!-- change of salt size won't broke existed passwords -->
    <add key="saltLength" value="32"/>
    <add key="hashedPwdLength" value="32"/>
    <add key="iterationsNum" value="10000"/>
  </appSettings>
  <system.web>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="Db.CustomRoleProvider, Db, Version=1.0.0.0, Culture=neutral" connectionStringName="UsersEntities"/>
      </providers>
    </roleManager>
    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly" />
    <sessionState timeout="15"/>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="4320" slidingExpiration="true"/>
    </authentication>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
  </system.web>
  <connectionStrings>
    <add name="StatixConnectionString" connectionString="data source=.;Initial Catalog=Statix;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="StatixEntities" connectionString="metadata=res://*/Statix.csdl|res://*/Statix.ssdl|res://*/Statix.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Statix;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <elmah>
    <security allowRemoteAccess="false"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="StatixConnectionString" applicationName="Statix"/>
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="SharedLibrary.Elmah.ErrorLogPageFactoryMultiApp, SharedLibrary, Version=1.0.0.0, Culture=neutral"/>
      </httpHandlers>
      <authorization>
        <allow roles="Admin,ResourceEditor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="SharedLibrary.Elmah.ErrorLogPageFactoryMultiApp, SharedLibrary, Version=1.0.0.0, Culture=neutral" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>